[2014-10-01 22:19] okidokiPVD opened #1 "Plugin seems to break as of videojs 4.6.0 and up"
This plugin is great and works well for versions of vjs 4.5 and below but changes made in vjs version 4.6.0 causes some odd playback issues.

From first glance it seems like the fact the newer versions of vjs require there needs to be a source tag inside the audio tag. If it's not there you get a spinning wheel. If you do include the source in the audio tag, you get the audio playing twice at the

[2014-10-05 14:16] #1 closed, assigned to nobody

[2014-11-14 12:34] solverat opened #2 "autoplay always active"
player will always start, because option "autostart" is ignored.

in function onWaveReady() change

[code]

to

[code]

[2014-11-14 14:05] #2 closed, assigned to nobody

[2015-02-05 13:51] danielcebrian opened #3 "display the audio track for the part of the video"
Hello, excellent plugin.

I would like to have an idea, on how to display the audio track for the part of the video that has been loaded into the player, because in your case you hide the video image, right? Is this possible?

Thank you,
Best regards,
Daniel

[2015-02-05 14:18] thijstriemstra commented on #3
Thanks @danielcebrian. This plugin basically allows you to playback audio files using the video.js player controls. It then uses wavesurfer.js to create a visual representation of the loaded audio file. So it currently doesn't support video, it's only for audio. If I understand you correctly you basically want to load in a video file, hide the video stream itself, and render the audio signal of th

[2015-02-05 14:19] danielcebrian commented on #3
thank you for the quick answer, I would like to have both things

[2015-02-05 14:23] thijstriemstra commented on #3
I like the idea but since I'm not using that functionality in my own projects, it would take me a while to get to implementing something like that. Pull requests are always welcome and I'll try to give feedback where I can. Perhaps it might be something that can be implemented in wavesurfer.js so it can be used in this plugin. I believe there was some support added for `<video>` elements not long

[2015-02-12 22:00] thijstriemstra commented on #3
Well it turned out to be already working! :) Simply grab the latest wavesurfer.js release (1.0.16 at time of this writing) and try out the new video.html example I added just now. Let me know how it goes @danielcebrian, so I can release it after some testing.

[2015-02-18 16:18] thijstriemstra commented on #3
Released as 0.9.3.

[2015-02-18 16:18] #3 closed

[2015-03-19 20:51] meredithmmyers opened #4 "Reset wavesurfer source?"
This is a great plugin, thanks for your hard work! I wondered if there's a way to reset the source? I would like to switch between different audio files. Thanks!

[2015-03-22 18:29] thijstriemstra commented on #4
Valid question. I just tried modifying `index.html` with something like this:

[code]

But when you click the button it logs the following video.js warning:

[code]
So applying a new set of settings to an already intialized video.js player is a no go, so you'll have to destroy the player first (`player.waveform.destroy()`, hmm this should be simpler maybe, eg. `player.dispose()` or `player.destroy

[2015-05-27 05:54] tweed opened #5 "Video.js version 5 support"
Hi! yep, a terrifically useful plugin - thanks!!

I've been stumbling around looking for a way to have it work with the latest version of wavesurfer and the just released version 5 master branch of videojs.

If anyone could point out how to get running with the new video.js (version 50 which has lots of responsive features now I believe.

[2015-05-27 20:19] thijstriemstra commented on #5
Thanks @tweed! At the time of this writing video.js 5.0 has not been released yet. I'm holding off support for that version until it's actually released and called somewhat stable. I'm planning to keep the current version of this plugin compatible with video.js 4.x in a stable branch (1.x.x) and start a 2.0 version on the trunk that is compatible with video.js 5.

Let's keep this ticket open to tr

[2015-05-27 23:57] tweed commented on #5
Sensational - makes great sense - thanks!

So, I went back to version 4 and understood better that the development branch is now version 5 though stable is of course version 4.
had hoped to see the responsive magic in version 4 though appears, at least for my limited skills, only possible in version 5.

All good !!! looking forward, when you have time of course, to version 2 trunk - woohoo! great

[2015-08-26 23:38] chinshr opened #8 "Video demo not showing video with waveform"
In the [video example](http://collab-project.github.io/videojs-wavesurfer/examples/video.html) I would expect to see the video playing along with the waveform, instead I only see the waveform

[2015-08-27 15:16] thijstriemstra commented on #8
If you change the video example by adding a `src` attribute to the `video` element and disable `autoplay` like this:

[code]

Then you'll see the video underneath the waveform and both audio and video start playing when you press play.

Unfortunately there are a couple of issues with this:

- the video seems to start a few 100 ms later than the audio. This screws up the player when you press play

[2015-08-27 15:18] thijstriemstra commented on #8
Also see https://github.com/katspaugh/wavesurfer.js/issues/510 for the wavesurfer related ticket.

[2015-08-27 15:49] chinshr commented on #8
@thijstriemstra thanks for your answers on viewing the video along the waveform. The 100ms offset is probably hard to get away with this approach. The other part of my question was how to provide access the the wavesurfer instance, `surfer`, but I guess I can add that myself. Thanks again.

[2015-09-15 21:41] thijstriemstra commented on #4
Closing, no feedback.

[2015-09-15 21:41] #4 closed

[2015-10-03 14:46] paulhovey commented on #5
I tried to use this with videos 5, and got this exception:

TypeError: undefined is not an object (evaluating 'videos.Component.extend')

On line 16:

videojs.Waveform = videojs.Component.extend({

It looks like videojs changed their component system in videojs 5, unfortunately for plugin developers.

[2015-10-04 00:51] thijstriemstra commented on #5
Thanks for testing that @paulhovey. I released a new version where npm and bower will limit video.js to v4.x releases only for now.

[2015-10-04 01:00] thijstriemstra commented on #5
Here's a list with details about the changes in v5: https://github.com/videojs/video.js/wiki/5.0-Change-Details

[2015-10-07 12:44] gwidaz opened #10 "VIDEOJS: WARN: Player x is already initialised. Options will not be applied."
Hey everyone, first of all I want to thank for this awesome player! I made a really nice skin to look nice for my website, but.. I been having issues with design elements and couple of errors which I hope some of you can help me with that.

I use Gridder v1.4 for my videos to appear once the image is clicked, and they are working just fine, I can play the video etc, but once I close and reopen the

[2015-10-08 16:27] thijstriemstra commented on #10
You need to call `player.waveform.destroy()` before you create a new player instance to prevent this error.

[2015-10-08 17:05] gwidaz commented on #10
Well I did managed to fix it by using code from docs again for some reason:

    videojs(document.getElementById("my_video_'.$row['id'].'"), {}, function() {

    });

but I am still not getting this error to disappear

    Uncaught TypeError: The element or ID supplied is not valid. (videojs)

[2015-10-08 17:08] thijstriemstra commented on #10
It's a really weird ID isn't it? `my_video_'.$row['id'].'` If this is evaluated by the library you're using then you probably shouldn't hardcode the html elements but create the video.js player using javascript/that library. Closing this since it doesn't look related to this plugin anymore. Feel free to re-open with an example that can reproduce an error (without any third-party libraries used).

[2015-10-08 17:08] #10 closed

[2015-10-09 19:51] doublex commented on #5
+1
This excellent plugin should work with v5

[2015-10-10 00:09] thijstriemstra commented on #5
progress...

<img width="622" alt="screen shot 2015-10-10 at 02 08 40" src="https://cloud.githubusercontent.com/assets/305679/10408007/e7bd0eda-6ef3-11e5-83cf-73ee16c57968.png">

[2015-10-10 02:24] thijstriemstra commented on #5
Well, looks like it wasn't too much work. If you want to help test (@doublex, @tweed, @paulhovey?), check the `videojs5` branch or get the zip: https://github.com/collab-project/videojs-wavesurfer/archive/videojs5.zip. Cheers.

[2015-10-10 20:43] paulhovey commented on #5
I tried it and it works!  Awesome!  Thanks for this great plugin!

[2015-10-12 19:47] thijstriemstra commented on #5
thanks for testing @paulhovey. About to release 1.0.0! Any issues, please open a new ticket.

[2015-10-12 19:47] #5 closed

[2015-11-29 03:08] naurelijs opened #12 "Pre-render/decode waveform"
Hello!

Thank you for your work, i love it.

Are there are any possibilities to add custom waveform image or something else before pre-render/pre-decode and allow play audio?

Thanks!

[2015-11-30 21:47] thijstriemstra commented on #12
I'll have to look into it.

[2015-12-02 10:04] vim-zz commented on #4
@thijstriemstra your example helps a lot - thanks

[2015-12-21 19:14] thijstriemstra commented on #12
@naurelijs you can add a custom 'poster' image behind the player, it's a standard video.js feature. For example:

[code]
This renders something like:

<img width="613" alt="screen shot 2015-12-21 at 20 12 08" src="https://cloud.githubusercontent.com/assets/305679/11939013/29221334-a81f-11e5-9ae3-7a6b3f4dde51.png">

You could hide it again once the video.js player completed loading.

[2016-01-13 19:52] mikemorton opened #14 "Toggle Waveform"
Forgive me if this is an obvious question, but I wonder if it is possible for me to programatically toggle the waveform while video/audio is playing?  I'd like to allow users to switch between waveform view and the regular content of the video.

[2016-01-17 01:02] thijstriemstra commented on #14
This is related to https://github.com/collab-project/videojs-wavesurfer/issues/8#issuecomment-135465859. There you'll find an example that shows the video underneath the waveform. You could then use css to hide the waveform or video. It's hacky though but worth a try..

[2016-01-17 01:02] #14 closed

[2016-01-17 01:03] #12 closed

[2016-01-17 20:31] thijstriemstra opened #15 "Support for Firefox mobile"
When viewing the example using Firefox Mobile for Android it seems the native media controls are used, making it impossible to navigate etc.

[2016-01-17 20:33] thijstriemstra commented on #15
Video screenshot:

![screenshot_2016-01-17-21-37-53](https://cloud.githubusercontent.com/assets/305679/12379798/e3cad75a-bd61-11e5-9944-c9adfa52e07f.png)

[2016-01-17 20:36] thijstriemstra commented on #15
Live mode:

![screenshot_2016-01-17-21-43-38](https://cloud.githubusercontent.com/assets/305679/12379818/659c2b4e-bd62-11e5-9571-d8fdc21e7db5.png)

[2016-01-17 20:40] thijstriemstra commented on #15
Normal mode:

![screenshot_2016-01-17-21-45-33](https://cloud.githubusercontent.com/assets/305679/12379838/e3029dc0-bd62-11e5-8ceb-89c36ee3b62d.png)

[2016-01-17 22:37] thijstriemstra commented on #15
fixed in 1.0.6

[2016-01-17 22:37] #15 closed

[2016-03-01 20:22] dimakhilchenko opened #16 "Calling zoom method (wavesurfer.js)"
Hi, @thijstriemstra

I am trying to add zoom feature of wavesurfer.js in your plugin.
How can I call wavesurfer.js zoom method from your script?

Thanks in advance for your help #

[2016-03-02 15:28] thijstriemstra commented on #16
hi @dimakhilchenko, here's an example:

[code]

[2016-03-02 15:28] #16 closed

[2016-05-12 16:06] bahiamartins commented on #8
audio example not working

[2016-05-12 19:29] thijstriemstra commented on #8
@bahiamartins how is this related to this ticket? What is not working?

[2016-05-22 15:45] thijstriemstra commented on #4
Tried this again and actually it was as simple as:

[code]
I'll document this in the readme.

[2016-07-21 04:51] anderdev opened #17 "HLS support"
Hi there,

It is not really an issue, but I could find another way to talk with you.

Does videojs-wavesurfer works with HLS live Stream?

Sorry to attack you like that, here where I work we have couple HLS videos on a monitoring page that I need to display its audio without unmute the videos.

thanks in advance,
Anderson Santos

[2016-07-21 18:52] thijstriemstra commented on #17
hi @anderdev, have you tried https://github.com/videojs/videojs-contrib-hls in combination with this plugin?

[2016-07-21 21:04] anderdev commented on #17
Not yet, but will right now....thanks.

[2016-07-22 05:18] anderdev commented on #17
Hi @thijstriemstra,

Today together of a bunch of other things I had a chance to try it as per your suggestion.

Unfortunately, I might be doing something wrong...I create my videos thru an iteration....working very well.
with:
$.ajax({
                type: 'GET',
                url: '/spi/live-events/monitor',
                dataType:'json',
                success: function (data) {

[2016-07-26 23:33] thijstriemstra commented on #17
@anderdev could you try this with a development version (e.g. [non-minified](https://github.com/collab-project/videojs-wavesurfer/blob/master/videojs.wavesurfer.js)) of videojs.wavesurfer so we can see the exact stacktrace in the console?

[2016-07-27 01:16] anderdev commented on #17
Hey @thijstriemstra , thanks very much for been helping me.

I just change to use the dev version and console still showing same error.

![image](https://cloud.githubusercontent.com/assets/4452071/17160825/39834066-53fc-11e6-9866-376a1cfec29e.png)

note that I changed src to my HLS stream.

![image](https://cloud.githubusercontent.com/assets/4452071/17160818/22b4c648-53fc-11e6-932b-ff55c80f0e0e.pn

[2016-07-27 12:08] thijstriemstra commented on #17
@anderdev it looks like it cannot load WaveSurfer, are you sure it's loaded? Have you tried with the latest wavesurfer.js? Also make sure wavesurfer is loaded before this plugin.

[2016-07-27 21:04] anderdev commented on #17
So, do we have an order here?

I will try:
1. wavesurfer
2.videoJS
3.handlebars

let you know the results.

[2016-07-27 21:08] thijstriemstra commented on #17
@anderdev yea, see https://github.com/collab-project/videojs-wavesurfer#using-the-plugin

[2016-07-27 21:46] anderdev commented on #17
other way around...hehehe videojs, wavesurfer and handlebars.

thanks a lot @thijstriemstra .

[2016-07-28 00:04] thijstriemstra commented on #17
and probably the HLS plugin before or after videojs.wavesurfer..

[2016-08-05 12:45] monachilada opened #18 "Node module name for Waveform.js is incorrect"
## Description
Node module name for Waveform.js is incorrect. Line 13 of videojs.wavesurfer.js should be
`module.exports = factory(require('video.js'), require('wavesurfer.js'));`

## Steps to reproduce
Try to import plugin into my JS

## Results
### Expected
That the JS compiles correctly

### Actual
Get an error on compilation that the wavesurfer module can't be found

### Error output
`Cannot f

[2016-08-08 21:20] thijstriemstra commented on #18
Thanks, merged and released (1.2.2).

[2016-08-08 21:20] #18 closed

[2016-08-09 16:19] thijstriemstra commented on #17
@anderdev any news?

[2016-08-10 10:34] anderdev commented on #17
Hi buddy, not really...I have changed imports order and haven't had much success.

In the end, I get very busy with my Scrum Master role that I have put it aside for now...I might be able to be back on this during next sprint, let you know,.

thanks for asking.

[2016-08-23 05:08] Lingomat opened #20 "Controls broken with current video.js and wavesurfer"
## Description
Play button doesn't work

## Steps to reproduce
Use the current build of video.js, and wavesurfer 1.1.11. Autoload will play, play controls do not work.

## Results
### Expected
Play/pause should work. Calls to player.waveform.play() are ignored.

### Actual
Play/pause does not work. If you use exactly the same version of video.js and wavesurfer, (5.10.8 and 1.1.0) as in the demo, t

[2016-08-23 12:26] thijstriemstra commented on #20
Thanks for the report @Lingomat, do you see any traceback/errors in the console?

[2016-08-23 22:49] Lingomat commented on #20
No, curiously. Downgrading versions and there's a string of errors about pause() interrupting play() but it essentially works. Similarly a call to player.waveform.play() didn't do anything.

[2016-08-25 19:59] thijstriemstra commented on #20
@Lingomat I've tried with an older version of video.js (`bower install video.js#5.10.4`) and the latest wavesurfer.js (1.1.12) and the example works again so it seems something changed or broke in video.js. Investigating now.

[2016-08-25 20:22] thijstriemstra commented on #20
Looks like this PR broke things: https://github.com/videojs/video.js/pull/3378

[2016-08-25 23:19] thijstriemstra commented on #20
@Lingomat I added a fix and tested it against 5.10.x, 5.11.x and also 5.12.0 release candidate. Could you check if it's fixed and I'll add a new release, thanks.

[2016-08-27 12:12] thijstriemstra commented on #20
Fixed in v1.2.3 release.

[2016-08-27 12:12] #20 closed

[2016-09-27 21:20] thijstriemstra opened #21 "Support wavesurfer splitChannels option"
When you enable the `splitChannels` option for wavesurfer.js,
[code]
 it currently renders something like:
<img width="624" alt="screen shot 2016-09-27 at 23 17 16" src="https://cloud.githubusercontent.com/assets/305679/18892180/d21141ec-8508-11e6-9c6b-e0dfcc1b08f2.png">

Which is not good, the full drawing should stay within the video.js player's dimensions.

[2016-09-29 07:29] #21 closed

[2016-10-30 14:21] thijstriemstra opened #23 "IE11 mp3 example file"
ie11 doesn't support wav, [use mp3](http://stackoverflow.com/questions/24301748/using-html-audio-with-ie-media12899-audio-video-unknown-mime-type) in the example instead Note that IE11 doesn't support webaudio at all, the waveform isn't drawn but playback works.

[2016-10-30 22:19] thijstriemstra commented on #23
Added an mp3 example file and some support code in the gh-pages branch. Since IE11 doesn't support webaudio at all I won't bother adding it to the examples in the master branch. At least the online example doesn't throw an error anymore on IE11.

[2016-10-30 22:19] #23 closed

[2017-01-07 07:48] kimhongn89 opened #24 "Can i call event onWaveFinish?"
Can you add event waveFinish. Because i want to catch that event for my player

[2017-01-07 15:35] thijstriemstra commented on #24
is this a new wavesurfer.js specific event that was recently introduced?

[2017-01-07 16:12] thijstriemstra commented on #24
Looks like you want to:

[code]

[2017-01-08 08:17] kimhongn89 commented on #24
Yes, that is what i need. Have you updated that event :)

[2017-01-09 23:27] thijstriemstra commented on #24
@kimhongn89 I'll add a `playbackFinish` event that does the same.

[2017-01-09 23:39] #24 closed

[2017-01-09 23:40] thijstriemstra commented on #24
@kimhongn89 I added a `playbackFinish` event, can you try this out? I'll release it in a few days.

[2017-01-12 16:37] kimhongn89 commented on #24
it worked,
thank you.

[2017-02-03 19:23] thijstriemstra opened #25 "Support for Media Session API"
With the Media Session API, you can now customize media notifications by providing metadata for the media your web app is playing. It also allows you to handle media related events such as seeking or track changing which may come from notifications or media keys.

I basically want to be able to control a videojs-wavesurfer instance from the notification area of my android phone.

See https://devel

[2017-02-16 18:00] thijstriemstra commented on #25
wavesurfer.js now has a media session plugin but unfortunately it only works with the `MediaElement` backend which is incompatible with this plugin. It should work with the regular webaudio backend as soon as browsers add support for media session + webaudio.

[2017-04-05 02:08] Chinese1904 opened #26 "How does Array.prototype.resize interfere with this plugin?"
## Description
I use this snippet to modify one of my arrays.
[code]

## Steps to reproduce
Explain in detail the exact steps necessary to reproduce the issue.

Just implement this and you will receive this error message

## Results
### Expected
Please describe what you expected to see.
How is this affecting the wavesurfer? I can't find the problem :(

### Actual
Please describe what actually happ

[2017-04-05 02:44] thijstriemstra commented on #26
can you reproduce it with older versions of video.js, videojs-wavesurfer?

[2017-04-06 01:31] thijstriemstra opened #27 "Test against video.js 6.0"
6.0 was released recently.

[2017-04-08 04:14] Chinese1904 commented on #26
I am so sorry @thijstriemstra - I don't have that in front of me anymore. But on top of my head I refactored the Array.prototype to:

[code]
This ended up working brilliantly. 👍
Not sure why though haha

[2017-04-08 04:27] Chinese1904 opened #28 "Support for video.js fluid option"
Hi everyone,

I am struggling to figure out how to set the height to 100% in order to make it responsive.

I have tried to set the height via `height: document.getElementById('media').offsetHeight` but it does not work.

Any help would be greatly appreciated!

Chris

[2017-04-08 18:19] thijstriemstra commented on #28
@Chinese1904 you should listen for `resize`. Take a look at https://github.com/katspaugh/wavesurfer.js/blob/master/plugin/wavesurfer.minimap.js#L121

[2017-04-08 21:53] thijstriemstra commented on #27
Tested against 6.0.0 pre-release and at first glance it seems to work fine, only one warning:

[code]

[2017-04-08 22:43] thijstriemstra commented on #27
released 1.3.2 that fixes the warning. Porting videojs-wavesurfer to 6.0.0 'advanced plugins' can be done later.

[2017-04-08 22:43] #27 closed

[2017-04-09 00:00] thijstriemstra commented on #28
In order to have a responsive player, the `fluid` option should be supported, as described here in this blog post: http://blog.videojs.com/Video-js-5-s-fluid-mode-and-playlist-picker/

Use wavesurfer's `debounce` method (available since wavesurfer.js 1.3.1) to make the waveform responsive (https://github.com/katspaugh/wavesurfer.js/pull/964).

[2017-04-09 00:17] Chinese1904 commented on #28
Fluid usually was my go to, but it does not work with wavesurfer, because it seems that the height needs to be set. I will take a look at debounce :-)

[2017-04-09 00:19] thijstriemstra commented on #28
I'm also working on something now, will create a branch with something to test with.

[2017-04-09 00:21] Chinese1904 commented on #28
Amazing! Looking forward to that!

[2017-04-09 00:56] thijstriemstra commented on #28
@Chinese1904 maybe you can checkout and test the `responsive-28` branch. It does scale the player properly (although quite large) but the waveform isn't layered on top of the player anymore, not sure why it floats like that.

[2017-04-09 01:11] thijstriemstra opened #29 "Implement as advanced plugin for video.js >= 6.0.0"
See http://blog.videojs.com/Feature-Spotlight-Advanced-Plugins/ and https://github.com/videojs/video.js/blob/master/docs/guides/plugins.md

[2017-04-09 01:12] Chinese1904 commented on #28
In the example you still set a height. If I am correct, that height is only for the waves?
The output looks like:
http://i.imgur.com/HPafGQ3.png

[2017-04-09 01:15] thijstriemstra commented on #28
Yea the height should still work in my opinion, but ignoring it should use the max height available in the player. Something that still needs to be fixed. Feel free to hack on it and help implement this.

[2017-04-09 01:16] Chinese1904 commented on #28
If the height is ignored, the waves will be underneath the player and only visible in full screen mode.

[2017-04-16 23:53] zdenham opened #30 "videojs Module not found"
<img width="1079" alt="screen shot 2017-04-16 at 4 51 41 pm" src="https://cloud.githubusercontent.com/assets/16373521/25075256/47af8706-22c5-11e7-8a1c-b3cd986e8634.png">
<img width="457" alt="screen shot 2017-04-16 at 4 52 40 pm" src="https://cloud.githubusercontent.com/assets/16373521/25075257/47b16fbc-22c5-11e7-9416-5979e465127c.png">

Using ES6 and installed through NPM, just ran into this erro

[2017-04-17 00:02] zdenham commented on #30
[code]

[2017-04-17 00:06] thijstriemstra commented on #30
@zdenham can you point me to the line that shows the video.js project is using 'video.js' as official module?

[2017-04-17 00:09] zdenham commented on #30
`/*! videojs-wavesurfer v1.3.2
* https://github.com/collab-project/videojs-wavesurfer
* Copyright (c) Collab 2014-2017 - Licensed MIT */
(function (root, factory)
{
    if (typeof define === 'function' && define.amd)
    {
        // AMD. Register as an anonymous module.
        define(['videojs', 'wavesurfer'], factory);
    }`

line 9: define(['videojs', 'wavesurfer'], factory);

[2017-04-17 00:16] thijstriemstra commented on #30
@zdenham in the video.js github repository i mean?

[2017-04-17 01:03] zdenham commented on #30
Ohh my bad it says it here: https://www.npmjs.com/package/videojs

[2017-04-17 04:29] zdenham commented on #17
I have been trying to do this without any luck. Tried combining the two plugins but wavesurfer throws `DOMException: Unable to decode audio data` when you the source to an HSL format video even with the contrib-hsl plugin installed. I was wondering if it would be possible to do a live streaming like the microphone but with hsl metadata instead? I really don't know ¯\_(ツ)_/¯

[2017-04-20 00:10] thijstriemstra commented on #30
That page mentions something about npm, not this issue in particular.

[code]

[2017-04-20 02:02] zdenham commented on #30
The issue I was having was that videojs-wavesurfer package was trying to resolve a 'videojs' module. It was not able to find this module and was throwing an error because I didn't have the module installed for the aforementioned reason and videojs-wavesurfer didn't install it automatically.

[2017-04-20 12:31] thijstriemstra commented on #30
I understand and I'd like to fix it but I'd also like to have a code reference to the correct value before I change it.

[2017-05-24 11:54] iameli commented on #30
The issue is the AMD code's interaction with Webpack. Webpack sees this definition and gets very confused. Should this line not read `video.js` instead of `videojs`? https://github.com/collab-project/videojs-wavesurfer/blob/master/src/js/videojs.wavesurfer.js#L6

[2017-05-27 00:40] thijstriemstra commented on #30
I always had issue with `video.js` (didn't work) vs. `videojs` (worked) when using require.js. Since that's been ages and I don't use require.js any longer I'll change it to `video.js` (which is probably also the correct choice and not webpack-specific, although I still can't find any explicit references in the video.js src).

[2017-05-27 00:47] #30 closed

[2017-06-02 17:20] Chinese1904 opened #31 "audio quality changes - starts minimal echoing and sound is off"
## Description
I have never noticed this, but a few customers of mine have mentioned that the audio quality changes. When investigating I noticed that the audio seems to be totally off.

## Steps to reproduce
http://clooud.co/media/bad-club-mix-916 play in the browser and then download the file and play in your local player. It is more noticeable starting around 1:00 to 1:12.

When I use the HTML5

[2017-06-02 17:32] thijstriemstra commented on #31
@Chinese1904 are you familiar with ffmpeg? It comes with a tool called `ffprobe` that analyzes the audio file. Can you run `ffprobe` on the audio file and paste the output here?

[2017-06-02 17:37] Chinese1904 commented on #31
Thanks for the quick response!

Sure it is:

[code]

[2017-06-02 17:53] thijstriemstra commented on #31
David Guetta! No, I can't help you in that case.

[2017-06-02 17:53] thijstriemstra commented on #31
Just kidding, it's MP3. With coverart. Can you convert it to another format, e.g. .wav and see if it still happens?

[2017-06-02 18:07] Chinese1904 commented on #31
I converted it via `ffmpeg -i bad-club-mix-916.mp3 song.wav` and it started sounding really "bad". Haha

I also tried converting it with `-acodec pcm_u8 -ar 22050` and same result :(

[2017-06-02 18:13] thijstriemstra commented on #31
I've tested it on firefox/ubuntu 16.04 and it immediately, from the 1st second, starts playback of 2 tracks on top of eachother. Your JS creates multiple instances is my guess.

[2017-06-02 18:18] Chinese1904 commented on #31
Wow, sorry for your time. I have been looking at the wrong cause for the longest time. Thank you so much @thijstriemstra !

[2017-06-02 18:18] #31 closed

[2017-07-29 12:10] thijstriemstra opened #32 "Support for wavesurfer.js 2.0"
Wavesurfer.js v2 has been merged to master (see #29 and https://github.com/katspaugh/wavesurfer.js/issues/1092) and requires some changes, let's make this plugin compatible with it.

Checkout the https://github.com/collab-project/videojs-wavesurfer/tree/adv-plugin-29 branch and install the dependencies using npm, e.g.:
[code]

Start the local webserver for the examples:
[code]

And open http://loc

[2017-08-04 15:04] alexthewilde commented on #26
I'm facing the very same issue with a custom `Array.prototype.insert` method. I'm using videojs-wavesurfer v1.3.3.

[2017-08-04 18:05] thijstriemstra commented on #26
This looks like the same issue found in videojs-record: https://github.com/collab-project/videojs-record/commit/0a857bab000b711dfc48603b7d57e9d33af22776 but I'm not sure.

I made the same change in the master version of this plugin, can you try if that fixes it @alexthewilde?

[2017-08-05 09:46] alexthewilde commented on #26
@thijstriemstra thanks for looking into this so quickly.

I've tested your fix and the original error has disappeared. However a new error is being thrown in an infinite loop:

[code]

I also verified that it's directly related to the `Array.prototype.insert` method.

[2017-08-05 10:46] thijstriemstra commented on #26
this one is weird and I don't see any references to videojs-wavesurfer in this traceback. Can you debug and find out what line is causing this issue @alexthewilde?

[2017-08-05 16:06] thijstriemstra commented on #26
And why are you changing the array prototype globally. This should cause all kinds of unexpected issues with other libraries?

[2017-08-07 10:12] alexthewilde commented on #26
I actually haven't experienced any other issues, only in combination with videojs-wavesurfer.

I ended up re-factoring the method similar to how @Chinese1904 did it as I couldn't find the cause for the second error message and it's not such a big deal really.

[2017-09-12 10:05] TRomesh opened #33 "Using videojs-wavesurfer with React"
## Description
Using videojs-wavesurfer with React
## Steps to reproduce
Im trying use videojs-wavesurfer and faced some issues. i installed the necessary packages **npm install videojs-wavesurfer**
and add the some script tags **<link href="./lib/style.css" rel="stylesheet">
    <link href="../node_modules/video.js/dist/video-js.min.css" rel="stylesheet">
    <script src="lib/videojs.wavesurfer.j

[2017-09-12 17:29] thijstriemstra commented on #33
@TRomesh I never used react but tried to create an example, see this branch: https://github.com/collab-project/videojs-wavesurfer/tree/react-example-33

Basically check out the branch, e.g.:

[code]
Change to the example directory and install the components:

[code]
And start the development server:

[code]
This will launch a webserver and the example will be available on http://localhost:3000/

B

[2017-09-13 18:13] mspae commented on #33
@thijstriemstra @TRomesh TL;DR: The AMD module name and the npm package name are different and webpack/react-starter doesn't know how to handle this.

The AMD module name in the `wavesurfer.js` UMD package is called `wavesurfer` (because of https://github.com/katspaugh/wavesurfer.js/issues/831), the `videojs-wavesurfer` UMD header expects this AMD import and I assume the react scripts bundler just

[2017-09-14 00:07] thijstriemstra commented on #33
Thanks that's very helpful info!

[2017-09-19 00:00] thijstriemstra commented on #26
v2 of this plugin is coming up (with wavesurfer.js 2.0 support), if this issue still exists, please reopen this ticket.

[2017-09-19 00:20] thijstriemstra commented on #33
Blocked by #29 and #32 (a.k.a. v2.0.0).

[2017-09-19 16:06] thijstriemstra commented on #26
Released a new version with a fix but didn't test it properly, it broke the live example: https://collab-project.github.io/videojs-wavesurfer/examples/live.html

[2017-09-19 16:27] thijstriemstra commented on #26
Should be fixed with 1.3.5 release.

[2017-09-19 16:27] #26 closed

[2017-09-20 14:59] thijstriemstra opened #34 "NotFoundError: Node was not found"
Getting this error with main example using video.js 6.2.8.

Error's related to this video.js code:

[code]

[2017-09-20 15:01] thijstriemstra commented on #34
Also seeing `VIDEOJS: Start playback` being printed twice.

[2017-09-20 16:09] #34 closed

[2017-09-22 22:57] thijstriemstra commented on #28
It's fixed and available in the `adv-plugin-29` branch (that'll become v2.0.0 eventually).

[2017-10-02 23:34] #29 closed

[2017-10-02 23:34] #28 closed

[2017-10-02 23:34] #32 closed

[2017-10-02 23:34] #33 closed

[2017-10-02 23:35] thijstriemstra commented on #33
@TRomesh I've added an example in the upcoming v2.0.0 that was merged to master (and will be released soon). Can you checkout the git master branch and test if the react example is working for you?

[2017-10-02 23:36] thijstriemstra commented on #28
@Chinese1904 I merged the version 2.0 branch to master and there's now a fluid.html example. Can you checkout git master and see if it works for you?

[2017-10-03 00:25] thijstriemstra commented on #33
2.0.0 was released just now.

[2017-10-03 00:25] thijstriemstra commented on #28
2.0.0 was released just now that includes fluid support.

[2017-10-05 01:19] thijstriemstra opened #36 "Subtitles support"
References:

- https://www.extremraym.com/en/wavesurfer-wp-markers/
- http://docs.videojs.com/tutorial-text-tracks.html

[2017-10-07 00:35] razzbee opened #37 "VIDEOJS: ERROR: TypeError: d.default is undefined"
Hello , I get the error below when trying to use this plugin, I have tried many different versions of videojs but still error persists ..

[code]

[2017-10-07 15:16] thijstriemstra commented on #37
@razzbee what version of videojs-wavesurfer? Have you tried the latest v2.0.0? And what browser/operating system?

[2017-10-07 15:18] razzbee commented on #37
Yes, using version 2, Firefox 56 on windows

[2017-10-08 14:44] thijstriemstra commented on #37
@razzbee can you reproduce this on https://collab-project.github.io/videojs-wavesurfer/examples/index.html? Looks like it's an issue with your minification of javascript.

[2017-10-13 10:55] razzbee commented on #37
not sure, I have tried the unminified version but same error

[2017-10-13 12:34] thijstriemstra commented on #37
@razzbee not sure? Can you show me some code that reproduces this problem?

[2017-10-15 22:48] thijstriemstra commented on #17
With videojs-wavesurfer v2.0.0 I'm seeing the same error using:

[code]

[code]

[2017-10-15 23:25] thijstriemstra commented on #17
Eventually got it to load using:

[code]

But then died with CORS error:

[code]

[2017-10-18 18:38] jessefalzone commented on #17
I set up a [jsfiddle](https://jsfiddle.net/gxedb64u/6/) to demonstrate the issue.  I used unminified versions for easier debugging, and confirmed that swapping the order of this plugin and videojs-contrib-hls still produces these errors:

Maybe I'm off base, but it looks like videojs-wavesurfer calls `WaveSurfer.load(url)` directly.
 The `load` method expects an audio URL, not a playlist, so maybe

[2017-10-18 18:57] thijstriemstra commented on #17
@jessefalzone thanks for the feedback but you're not actually using their video.js plugin in that example (the plugins section of the config only lists wavesurfer but not hls).

[2017-10-18 19:07] jessefalzone commented on #17
@thijstriemstra you're welcome.

I believe it is working, since videojs-contrib-hls registers itself automatically.  You can test this by commenting out the `wavesurfer` options

[code]

and the m3u8 video will play correctly (and then it will break if you remove the `videojs-contrib-hls` script).  The `hls` plugin option appears to be optional.

[2017-10-18 19:21] thijstriemstra commented on #17
That's weird, how would I specify any initialization options? video.js provides an API that allows me to detect if other plugins are in use and videojs-contrib-hls is currently not able to be detected using that API, making it hard to interact and work with that plugin.

[2017-10-18 19:25] jessefalzone commented on #17
I've changed your earlier example to the following (notice `hls` is nested in `html5`, not `plugins`):

[code]

CORS headers will need to be correct though, but I'm not sure it's necessary to specify these options since it's able to use the source in the `<source>` tags.

At any rate, if you can't detect contrib-hls then I'm stuck :-) I'm not too familiar with the internals of videojs.

[2017-10-18 19:27] thijstriemstra commented on #17
What about this API? https://github.com/video-dev/hls.js/blob/master/doc/API.md

[2017-10-18 19:40] thijstriemstra commented on #17
See https://github.com/katspaugh/wavesurfer.js/issues/1078 which basically has to be fixed before we can fix this ticket.

[2017-10-19 00:52] thijstriemstra commented on #17
Figured out how to create a local playlist.m3u8 for local streaming.

Grab latest ffmpeg build from https://www.johnvansickle.com/ffmpeg/ and unpack it somewhere.

Create a test dir:

[code]

Create a `convert.sh` script containing:

[code]

Make it executable:

[code]

And run the script on some mp4 file, e.g. `source.mp4`:

[code]

This will create a `playlist.m3u8` file and related media files.

[2017-10-26 23:22] thijstriemstra commented on #37
@razzbee any news?

[2017-11-29 22:32] thijstriemstra commented on #36
@mfairchild365 what about wavesurfer.js? this also provides a plugin for captions/subtitles I believe. As this plugin is mostly tied to wavesurfer.js events compared to video.js, I think that might be the simpler route. But if you manage to figure out how to get it to behave as a tech that might make sense as well. I'll be available if you have any questions or need a review, cheers.

[2017-12-04 20:25] #36 closed

[2017-12-04 21:52] #37 closed

[2017-12-06 04:44] eiennosihaisya opened #41 "Overriding the Html5 tech causes error on videos without plugins"
## Description
Can't play video without wavesurfer set up in _plugins_.

## Steps to reproduce
In the video example, change _var player_ to:
[code]
(Remove _plugins_, add _sources_, change _autoplay_)

## Results
### Expected
Video to play normally without wavesurfer plugins set up. (I want to have multiple videos on a page, some with wavesurfer, some without)

### Actual
Unresponsive controls on

[2017-12-06 16:15] thijstriemstra commented on #41
That sucks, thanks for the report @eiennosihaisya. Any ideas @mfairchild365?

[2017-12-06 16:46] mfairchild365 commented on #41
Shucks. The main reason for registering the wavesurfer tech as 'Html5' is to prevent vjs from removing the `<audio>` element. See https://github.com/videojs/video.js/blob/master/src/js/player.js#L897 (its hard coded). Removing the audio element removes the text tracks and prevents safari from display the text tracks.

I believe the plugin is initialized before the tech. It might be possible to che

[2017-12-07 02:10] thijstriemstra commented on #41
@eiennosihaisya can you try with video.js 6.4.0?

[2017-12-07 13:44] eiennosihaisya commented on #41
Trying with video.js 6.4.0 produced the same error.

Looking at the videojs-youtube plugin, it appears videojs has built-in browser detection. (https://github.com/videojs/videojs-youtube/blob/master/dist/Youtube.js#L36)

Perhaps it's possible to only override the Html5 tech if `videojs.browser.IS_SAFARI || videojs.browser.IS_ANY_SAFARI`?

[2017-12-08 02:57] eiennosihaisya opened #43 "Request: Use Videojs Playback Speed"
Videojs has an option for playback speed, like `playbackRates = [0.5, 0.75, 1]`. This adds a control to select the rate. Could this be integrated to change wavesurfer playback rate? (Also, videojs.wavesurfer.css causes this control to overlap the fullscreen button.)

[2017-12-08 10:13] thijstriemstra commented on #41
@eiennosihaisya I merged @mfairchild365's PR to master branch, can you check if that fixes the issue for you?

[2017-12-08 11:06] thijstriemstra commented on #43
@eiennosihaisya I added support in the master branch, can you try it out?

[2017-12-08 15:34] eiennosihaisya commented on #41
Yes, the video now plays correctly when the wavesurfer plugin is not initialized. However, it would be desirable to somehow not apply videojs.wavesurfer.css styles in this case, because if playback rates are used, it overlaps the fullscreen button, as can be seen here- https://imgur.com/OsudPUK

[2017-12-08 15:38] eiennosihaisya commented on #43
Yes, the rates now change wavesurfer playback. However, if a video is not initialized with the wavesurfer plugin, choosing a different playback rate results in the following error with no change:

[code]

[2017-12-08 15:55] thijstriemstra commented on #43
@eiennosihaisya I pushed another fix to master, can you test it?

[2017-12-08 15:56] thijstriemstra commented on #41
@eiennosihaisya the scrollbar doesn't work does it? Why are you showing it?

[2017-12-08 16:01] thijstriemstra commented on #41
Sounds good, can you make a pull request?

[2017-12-09 10:27] eiennosihaisya commented on #43
Tested and it works! Thank you for the quick response

[2017-12-11 04:01] eiennosihaisya commented on #41
Pull request submitted

[2017-12-11 23:29] thijstriemstra commented on #43
Will be included in v2.1.1.

[2017-12-11 23:29] #43 closed

[2017-12-11 23:39] #41 closed

[2017-12-12 01:44] thijstriemstra opened #46 "Tech incompatible with videojs-record"
When using [videojs-record](https://github.com/collab-project/videojs-record) with this plugin (==2.1.1) it goes into an infinite loop;

[code]

Not registering the tech recently introduced fixes the problem.

[2017-12-12 01:55] thijstriemstra commented on #46
@mfairchild365 a simple fix would be something like;

[code]

thoughts?

[2017-12-12 04:08] mfairchild365 commented on #46
I’m not familiar enough with the record plugin, but that looks like it might work. Worth a try in my book.

[2017-12-13 16:34] #46 closed

[2017-12-15 22:44] mfairchild365 opened #47 "Safari playback & rendering issue"
If you pause and then play an audio track in Safari, the waveform canvas will not update (making it look like nothing is happening).

For example, if you play this example and pause it, then try to play it again, the waveform will not update: https://collab-project.github.io/videojs-wavesurfer/examples/texttrack.html

~~I think this is a problem with this plugin because all of the wavesurfer.js ex

[2017-12-16 00:26] thijstriemstra commented on #47
always include the version nrs for everything; browsers, OS, js libs.

[2017-12-16 00:41] thijstriemstra commented on #47
I have a feeling it's related to this PR: https://github.com/videojs/video.js/pull/4743/files

[2017-12-18 15:29] mfairchild365 commented on #47
potentially a duplicate of https://github.com/katspaugh/wavesurfer.js/issues/1215

[2017-12-18 15:40] thijstriemstra commented on #47
@mfairchild365 you tried with latest wavesurfer.js 2.0.1?

[2017-12-18 16:13] mfairchild365 commented on #47
@thijstriemstra Yep, still a problem on 2.0.1.

[2017-12-18 17:31] mfairchild365 commented on #47
As described in https://github.com/katspaugh/wavesurfer.js/issues/1215#issuecomment-352495059 - forcing the use of the `MediaElement` backend in wavesurfer fixed the issue for me.

[2017-12-27 17:38] thijstriemstra commented on #47
This seems related: https://github.com/muaz-khan/RecordRTC/issues/365#issuecomment-352268940

The audio data empty is because `onaudioprocess` is not called on iOS 11.

https://stackoverflow.com/a/46534088/4759808

`Safari on iOS 11 seems to automatically suspend new AudioContext's that aren't created in response to a tap`

[2018-02-19 22:21] thijstriemstra opened #49 "Custom tech breaks with video.js 6.7.x"
video.js >= 6.7 throws the following infinite loop:

[code]

Here's a diff of video.js between 6.6.3 (that works) and 6.7.2 (broken): https://github.com/videojs/video.js/compare/v6.6.3...v6.7.2

[2018-02-20 00:31] thijstriemstra commented on #49
@mfairchild365 this seems like an issue with the Html5 tech that we override, commenting out the `registerTech` call fixes the recursive loop but causes texttracks to stop working. Any idea?

[2018-02-20 13:53] #49 closed

[2018-02-23 12:19] vojthor opened #51 "Load with peaks not working correctly"
Hi,
I'm trying to use _load()_ function to load track with already generated peaks as second param.
Instead of using variable with peaks, it calls AJAX with url of content of the variable.
Same issue with using param _peaks_.

Works when called  like this _player.wavesurfer().surfer.load()_ but on play peaks being replaced.

[2018-02-23 12:56] #51 closed

[2018-02-23 13:00] vojthor opened #52 "Make peaks not ajax only"
Hi,

would it be possible to make peaks param not ajax only but allow to pass array of peaks instead (as wavesurfer itself allows)?

Thx

[2018-02-23 23:05] thijstriemstra commented on #52
@vojthor can you show me an example how you would do this with wavesurfer.js?

[2018-02-25 02:36] thijstriemstra commented on #49
Made a workaround in this library but this might be related: https://github.com/videojs/video.js/commit/0ace2a5

[2018-02-26 09:54] vojthor commented on #52
Yeah sure,
there is codepen with it for just wavesurfer: https://codepen.io/entonbiba/pen/PmpXqJ

[2018-03-01 21:18] thijstriemstra commented on #52
@vojthor I implemented this in #53, can you try it out?

[2018-03-05 21:23] #52 closed

[2018-03-05 21:42] thijstriemstra commented on #52
Merged #53 to master.

[2018-03-06 14:06] vojthor commented on #52
@thijstriemstra Awesome, works great! Thanks a lot :)

[2018-03-06 20:14] thijstriemstra commented on #52
Cool. Released as 2.2.2.

[2018-03-24 10:58] tobyrisk1 opened #54 "Waveform is not rendering possible due to latency in rendering the DOM"
## Description
Waveform is not rendering in V2.2.0 and V2.2.2 possible because of latency in rendering the DOM.
On a really simple stripped down version I can get it to work but when used inside my app, the <wave> element fails to be rendered with a height value

Examining the element inspector I can see that wavesurfer is replacing the <audio> object with a <div> and then applying a <wave> elemen

[2018-03-24 15:26] thijstriemstra commented on #54
Without any code to reproduce this, I'm not sure how to help..

[2018-03-24 20:48] tobyrisk1 commented on #54
Ok thanks, you're right I should check the latest versions first. If I find a way to encapsulate the code that recreates the issue in a way I can share I'll let you know.

[2018-03-28 20:49] thijstriemstra commented on #54
@tobyrisk1 what does your player config look like?

[2018-04-03 21:52] thijstriemstra commented on #54
@tobyrisk1 there should be an event in the framework you're using that you probably need to wait for. Closing, please re-open if you found a bug.

[2018-04-03 21:52] #54 closed

[2018-04-03 22:23] thijstriemstra opened #56 "Test on headless firefox"
See https://github.com/karma-runner/karma-firefox-launcher plugin.

[2018-04-25 21:04] #56 closed

[2018-05-13 21:59] thijstriemstra opened #60 "Tech breaks other video.js players on same page"
The `WavesurferTech` breaks video.js when there are multiple players present on a page. I suggest we remove it and add an option that programatically enables them (so it also works in safari).

It's already possible to query the tracks at startup of the plugin:

[code]

Related issue in project that uses this plugin as dependency: https://github.com/collab-project/videojs-record/issues/235

cc @mf

[2018-05-14 06:05] hersche commented on #10
Hello, i have the same issue out of other reasons i think..

html-part:

`        <audio controls class="center-block video-js vjs-default-skin "  id="mainAudio" poster="<?php echo $poster; ?>">
        </audio>`

JS:

` player = videojs('mainAudio', {
    controls: true,
    autoplay: true,
    fluid: false,
    loop: false,
    width: 600,
    height: 300,
    plugins: {
        wavesurfer: {

[2018-05-14 14:57] mfairchild365 commented on #60
Well, I suppose there are a few things:

1. The issue was never being able to access text tracks from the plugin itself. I wrote the tech because the videoJS interface expects timing events to bubble up from the tech, not a plugin. If we emit time change events from the plugin, the videoJS interface for text tracks will not work at all. This may or may not still be true. The PR you have in place b

[2018-05-15 19:30] thijstriemstra commented on #60
@mfairchild365 if was always thinking about specifying the text tracks in the player config, instead of defining them in the tag. There's the https://github.com/videojs/video.js/blob/master/docs/guides/options.md#nativetexttracks option that can be set by videojs-wavesurfer plugin, and if we can then get the timeupdate stuff working we're good to go?

Something like:

[code]

[2018-05-15 19:49] thijstriemstra commented on #60
This also looks related, introduced in video.js 7.0: https://github.com/videojs/video.js/pull/5074

[2018-05-15 21:13] thijstriemstra commented on #60
Adding text tracks programatically:

[code]

[2018-05-15 21:31] thijstriemstra commented on #60
@mfairchild365 there's also an issue with the z-index of the track selection menu during playback:

![css-textracks](https://user-images.githubusercontent.com/305679/40084619-03ab5134-5898-11e8-8d88-87d04b21e634.png)

[2018-05-15 21:37] mfairchild365 commented on #60
@thijstriemstra I don't think that method is ideal (it adds a non-intuitive extra step), but as long as it is documented in this project, I think it is fine.

As you found, you would still need a custom tech to emit the time changes for the videojs UI to update. HOWEVER, by requiring this method of adding text tracks, I don't think the tech would need to override the default `html5` tech. Giving t

[2018-05-15 21:48] thijstriemstra commented on #60
I agree it's non-intuitive but this plugin does not run without any javascript setup so I'd like to keep the actual metadata in the `audio` tag to a minimum, and specify it using the player config.

AFAIK it's not possible to specify a `src` of an `audio` element and use that to render the waveform anyway. so defining the track metadata there is confusing to me.

Not being able to specify a `src`

[2018-05-17 18:42] hersche opened #62 "CPU-Usage"
## Description
High CPU-Usage.

## Steps to reproduce
Activate and use the plugin.

## Results
### Expected
I except, that after create the visualisation, the cpu-usage is reduced

### Actual
While play, about 100% (on one core), about 50-60% withouth wavesurfer.

## Additional Information
Please include any additional information necessary here. Including the following:
### versions
#### videojs/

[2018-05-17 18:54] thijstriemstra commented on #62
@hersche can you re-recreate this with a pure video.js example? or a pure wavesurfer.js example?

[2018-05-17 23:25] hersche commented on #62
i have made a fork and found, that in the original demo-"hal.wav", setCurrentTime is called 1391 times in about 8 seconds. well, that can be nice for playing or fluid animations, but it's a bit intensive..

i have changed it that, mostly on progress, it only do the update every 50 time (can be decreased).

with this, it does update 62 times only, but has no visual impact (as i see, but it's still

[2018-05-21 20:29] thijstriemstra commented on #62
@hersche this sounds great, can you make a PR?

[2018-05-21 20:32] thijstriemstra commented on #62
I wasn't even aware this was in there, related to #60. I would like to get rid of that line as well.

[2018-05-21 21:03] hersche commented on #62
i'm not shure, what this line does, because that's my first mod on videojs-libs at all..
but i make the PR quickly :)

[2018-05-22 22:51] thijstriemstra commented on #62
@hersche can you comment out this line (disable the custom tech) https://github.com/collab-project/videojs-wavesurfer/blob/master/src/js/videojs.wavesurfer.js#L770 and any other tech-related lines (like https://github.com/collab-project/videojs-wavesurfer/blob/master/src/js/videojs.wavesurfer.js#L75) and see if this improves things? Also comment out the `this.trigger('timeupdate');` line.

[2018-05-22 23:34] thijstriemstra commented on #62
@hersche yea you should just:

Do once:

- checkout code
- npm install
- npm run build
- npm run start

And you can now make changes and it should automatically rebuild.

[2018-05-22 23:48] hersche commented on #62
ok, i did the test with the 44mb wav-file again and it did not raise the cpu.. as i removed my code, this seems to be a working solution..

[2018-05-22 23:53] thijstriemstra commented on #62
@hersche that's good news and fucked up at the same time. Looks like this is a duplicate of #60 :-/

[2018-05-22 23:54] thijstriemstra commented on #60
Looks like the current tech implementation also raises the CPU to "about 100% (on one core), about 50-60% without videojs-wavesurfer", see #62

[2018-05-23 00:14] hersche commented on #62
well, then i let my workaround stay for the moment and wait until #60 is closed..

thanks for help me testing there, but about the tech-stuff from videojs, i have no clue..

[2018-05-23 00:18] thijstriemstra commented on #62
@hersche can you paste a `git diff` of your workaround here?

[2018-05-23 00:25] thijstriemstra commented on #62
Can you try a clean version without any of your changes, just disabling the tech basically, and see if that fixes it? I'd rather not introduce extra code if it's not needed.

[2018-05-23 00:33] hersche commented on #62
i did this already for the test. i removed my counter, run the test (passing), commented out, what you said, failed on the test, tried it with the 44mb file, you said, it's same like #60 and i decide to stay on my counter-solution then.. i have it right now changed this way, i can commit it, you can reopen the PR and accept it withouth the counter.

but you found the solution with commenting out,

[2018-05-23 00:35] thijstriemstra commented on #62
I'm just trying to figure out if your counter-workaround is necessary in videojs-wavesurfer in order to fix it in your opionion, but it sounds like it is and you're using it for now until a new videojs-wavesurfer is released without the counter-workaround but with a tech fix.

[2018-05-23 00:38] thijstriemstra commented on #62
I'll re-open the PR but can't guarantee I'll merge it but it's a good way to show your ideas using code.

[2018-05-23 00:47] thijstriemstra commented on #60
A short term solution would be renaming it (registering it under a different name than `Html5`) and make the tech have precedence in the texttrack example so it overrides the default HTML5 tech and still provides tech tracks?

[2018-05-23 00:48] hersche commented on #62
mmh, but when i comment out, what you told me (i would do nothing else, it's only your idea then, as my commit, but well..), then a problem (i already checked this) is, that it will fail with the tests (which are needed to merge anyway). so i have to remove some tests, what should be the last solution..

i mean, make that sense? for me, it's just ok to close the issue and the PR, and wait until a

[2018-05-23 00:50] thijstriemstra commented on #62
You mean the unit tests of videojs-wavesurfer right?

[2018-05-23 00:53] hersche commented on #62
yes

[2018-05-23 00:56] thijstriemstra commented on #62
@hersche you can delete, or move, `test/tech.spec.js` temporarily if you disabled the registration of the tech. That should fix the tests.

[2018-05-23 00:58] hersche commented on #62
ok

[2018-05-23 01:50] mfairchild365 commented on #60
Yes, that would work, although I don't think it is ideal. The CPU issue would still be relevant, just scoped to players that need text track implementation. I rather like the rate limiting solution that was suggested in the other issue as it strikes what I see as an acceptable middle ground. Perhaps a combination of the two would be best: I wonder if you could detect the presence of text tracks an

[2018-05-23 15:04] youssinsa opened #64 "Audio informations"
Hi !

It's not really an issue but i have to design a HTML5 player and i have to retrieve the audio track from my video playing in an HTMLVideoElement.

How can you reach this audio informations ??? I ask because I imagine you did the same in order to display this wave.

Thanks a lot and great job

[2018-06-03 16:32] thijstriemstra commented on #60
I created #65 and managed to get the text track example work without any other modifications (so using a `<track>` element). The tech was removed because it breaks the player (and introduced high CPU, see #63). We can introduce the tech again if:

- it properly works for all browsers **or**
- it is used as a workaround for Safari only (so you have to manually `videojs.registerTech` the custom tech

[2018-06-03 21:17] thijstriemstra commented on #47
Once this issue is resolved we can take a look at texttrack support for Safari.

[2018-06-03 21:34] #60 closed

[2018-06-03 21:34] #62 closed

[2018-06-03 21:35] thijstriemstra commented on #62
@hersche should be fixed in 2.3.1.

[2018-06-04 21:57] thijstriemstra commented on #47
Also see https://github.com/danielstorey/webrtc-audio-recording

[2018-06-10 01:01] thijstriemstra commented on #47
I managed to get it to work on Safari (11.1). Creating the audio context and script processor in response to a click or tap and passing them to wavesurfer.js fixed the playback issues we we're seeing. It did require adding a new feature (able to pass script processor) in wavesurfer.js, which I'll add there.

[code]

[2018-06-10 02:37] thijstriemstra commented on #47
This is also a good post on webkit's autoplay: https://webkit.org/blog/7734/auto-play-policy-changes-for-macos/

[code]

[2018-06-11 06:28] ErezDalet opened #66 "Show waveform of a big audio file as it loads"
Hi,
I want to show the waveform of a big audio file (at least 100 MB, at least 1 hour).
I can't wait for the whole file to load because it takes a lot of time.
I need to show it right from the start, as it loads.

I know that I can somehow use array of "Pre-recoded Peaks", but it is heavy to receive this data from my server, so I actually can receive arrays of "Pre-recoded Peaks" in chunks, meanin

[2018-06-11 10:46] thijstriemstra commented on #66
@ErezDalet try the `backend: 'MediaElement'` wavesurfer.js option.

[2018-06-11 10:47] thijstriemstra commented on #64
no feedback, closing.

[2018-06-11 10:47] #64 closed

[2018-06-11 11:04] ErezDalet commented on #66
Thanks but this options just allows to hear the audio before the full waveform loads.
It doesn't display it until it is fully loaded.

[2018-06-16 21:51] thijstriemstra opened #67 "Add example showing integration with other wavesurfer.js plugin"
The cursor plugin for example: https://wavesurfer-js.org/plugins/cursor.html

[2018-06-29 16:02] IgorSamer opened #68 "How can I use the plugin with Angular 4 in my Ionic 3 project?"
I already installed the plugins `videojs-wavesurfer` (`npm install videojs-wavesurfer --save`) and `wavesurfer.js` (`npm install wavesurfer.js --save`) and now I want to use them in my Ionic 3 component.

I was working only with `Video.js`, and all it working fine. But now, I need to add `videojs-wavesurfer` plugin.

I tried:

Component.html:

[code]

Component.ts:

[code]

But console prints the

[2018-07-10 22:50] thijstriemstra commented on #68
Sorry for the late reply @IgorSamer. Take a look at https://github.com/collab-project/videojs-wavesurfer/wiki/Webpack

I would change your imports to:

[code]

[2018-07-10 22:53] thijstriemstra commented on #66
@ErezDalet you can use the `peaks` option of wavesurfer.js to generate waveform data and pass that to wavesurfer so it can render the waveform instantly.

[2018-07-10 22:54] #66 closed

[2018-07-16 20:56] #68 closed

[2018-07-16 22:10] #67 closed

[2018-08-05 23:52] thijstriemstra opened #69 "Playhead cursor overlaps captions menu"
<img width="609" alt="screen shot 2018-08-06 at 01 51 19" src="https://user-images.githubusercontent.com/305679/43691349-60a724c6-991b-11e8-9aa7-603d8ab9832a.png">

[2018-08-07 23:05] thijstriemstra commented on #69
Looks like this was only happening when using the minified css file. The content of this v2.5.0 CSS file was missing some stuff strangely. After that release some of the (webpack) CSS dev dependencies were updated and the generated minified CSS file now works properly.

[2018-08-07 23:43] thijstriemstra commented on #69
Released 2.5.1.

[2018-08-07 23:43] #69 closed

[2018-09-29 00:46] thijstriemstra opened #72 "add more wavesurfer.js plugin examples"
things like timeline, regions, etc plugins.

[2018-10-07 20:45] thijstriemstra opened #73 "Unable to hide time controls"
E.g.

[code]

Results in:

[code]

[2018-10-07 20:56] #73 closed

[2018-10-28 23:36] #47 closed

[2018-11-21 17:51] thijstriemstra opened #77 "Put API docs online"
E.g. https://collab-project.github.io/videojs-wavesurfer/doc/index.html

Also include them in the release zipfile.

[2018-12-16 23:29] SKumar713 opened #79 "how to read AVI file using wavesurfer.js in Angular 7"
im trying to play AVI file in wavesurfer.js it says cant read encoded data when i provide the input file as AVI but, with wav it works fine. so i decided to use videojs.wavesurfer im struck im not seeing any error message in console and im unable to see anything on my screen with below code can anyone please help me to read avi file in wavesurfer. or please let ne know if we can read avi in videoj

[2018-12-16 23:44] thijstriemstra commented on #79
@SKumar713 are you able to see the waveform? could be a duplicate of #8

[2018-12-18 23:36] josefpohl opened #80 "Waveform not showing on record"
## Description
Previously, on device ready the waveform (from wavesurfer plugin) would appear on device ready.  The waveform is appearing if I enter full screen mode and then continues to appear after going back to regular mode. The original issue may have stopped on the update from wavesurfer 2.1.1 to 2.6.1. (moved to 2.6.3 to see if the issue persisted)
I also updated to videojs-record 3.1.0 (fr

[2018-12-19 18:50] josefpohl commented on #80
Sorry, the wavesurfer 2.6.3 looked odd to me.  Sure enough it is 2.1.1  I had the wrong call.
`VIDEOJS: Using video.js 7.3.0 with videojs-record 3.1.0, videojs-wavesurfer 2.6.3, wavesurfer 2.1.1`

[2018-12-19 19:22] josefpohl commented on #80
The issue was related to how React was rendering the video component.  Closing issue with apologies!
Thanks again for your work.

[2018-12-19 19:22] #80 closed

[2019-01-13 22:24] #79 closed, assigned to nobody

[2019-03-13 01:52] thijstriemstra commented on #8
Finally found a reasonable approach to this! Use this config:

[code]

And you'll get something like this, all synced up:

![Screenshot from 2019-03-13 02-50-41](https://user-images.githubusercontent.com/305679/54247880-e68e0e80-453a-11e9-95e4-b2963c246702.png)

I will update the `video.html` example with these changes and consider this fixed.

[2019-03-13 02:19] #8 closed

[2019-03-18 20:09] #72 closed

[2019-04-02 11:22] KENYHU commented on #10
Hi man,  you can do like this:

[2019-04-12 08:58] Footprint-Addons commented on #31
I had the same issue. For those who can't follow what is going on:
Instead of using the regular embedding code with sources,:
(function (window, videojs) {
  if (player) {player.dispose()} else {var player}
    var player = window.player = videojs('myPlayer',{
	sources: [{
		src: 'myaudio.mp3', type: 'audio/mp3'
	  }],
	controls: true,

you have to remove the line with sources:[....] and only indi

[2019-04-13 13:31] thijstriemstra opened #82 "add wiki docs for frameworks"
Would be nice to have an Angular and Vue.js wiki page.

[2019-04-19 11:41] nkev opened #83 "Input constraints bug"
## Description
The example at https://collab-project.github.io/videojs-wavesurfer/examples/input.html doesn't actually change the input. It always uses the default input.

## Steps to reproduce
Try the example using different audio inputs.

## Versions
video.js 7.4.1 with videojs-record 3.6.0, videojs-wavesurfer 2.8.0 and wavesurfer.js 2.2.1

### Browsers
Chrome 73.0.3683.103

### OSes
OSX Mojave

[2019-06-28 07:12] salmanAhmad143 commented on #28
HI Team i am struggling an issue while implementing the videojs-wavesurfer. Actaually my requirement is to display the wave along with video togeather. But i didn't find any option into this. Please help me

Thanks

[2019-06-28 11:57] salmanAhmad143 commented on #8
Is there any option to change the position of wave form to the bottom of video. Please advice.

[2019-06-30 10:48] thijstriemstra commented on #28
take a look at the video example @salmanAhmad143: https://collab-project.github.io/videojs-wavesurfer/examples/video.html

[2019-07-23 01:08] thijstriemstra commented on #82
Created one for Angular: https://github.com/collab-project/videojs-wavesurfer/wiki/Angular

[2019-07-23 01:26] #83 closed

[2019-07-23 01:59] thijstriemstra commented on #82
And one for Vue.js: https://github.com/collab-project/videojs-wavesurfer/wiki/Vue.js

Still need to link these pages in the readme.

[2019-08-07 19:52] #82 closed

[2019-08-29 18:23] nsticco opened #87 "Graceful recovery from onWaveError?"
Hello, I am using videojs-wavesurfer 2.9.0 with React 16.8.6.

My player initially loads inside the componentDidMount lifecycle method of a component. My app has a list of audio files that you can click on, triggering the player component to receive updated props with a new URL.

Inside a componentDidUpdate lifecycle method, the player is then told to load the URL of the new audio file:

`this.pla

[2019-09-25 19:29] thijstriemstra commented on #87
Was able to reproduce this with network throttling enabled in Firefox (2G setting) and this:

[code]

[2019-09-25 23:46] thijstriemstra commented on #87
created a new `abort` event for this (#89) and will release it after wavesurfer 3.1.0 is released.

[2019-09-28 23:51] #87 closed

[2019-10-07 21:22] ibcs01 opened #90 "Peaks not loaded from audiowaveform json file"
Regarding this line:

https://github.com/collab-project/videojs-wavesurfer/blob/e36ee16d48024bdb71e657b4e60ab789d52a5e3a/src/js/videojs.wavesurfer.js#L322

I generate json file with peak data as described in:
https://wavesurfer-js.org/faq/

The output format of the json file is like:
`{"data": [-0.1565217391304348, 0.17391304347826086, -0.1565217391304348, 0.17391304347826086, -0.1565217391304348,

[2019-10-09 19:00] seabasss opened #91 "Can I use wavesurfer with videojs-playlist?"
Is it possible to use wavesurfer with the [videoplaylist](https://github.com/brightcove/videojs-playlist) plugin? I can't figure out how to merge the two.

Is it possible to attach wavesurfer like this and update the waveform depending on what's playing in the playlist?

[code]

I'm getting this error when I'm trying the above approach:

[2019-10-11 13:20] #90 closed

[2019-10-11 21:42] thijstriemstra commented on #91
Not yet. But I got it to work in the `v3` branch. Checkout that branch or download it here: https://github.com/collab-project/videojs-wavesurfer/archive/v3.zip and build it using npm. Some help testing would be great @seabasss

[2019-10-14 22:50] seabasss commented on #91
@thijstriemstra Thanks! Sorry, I'm a noob when it comes to npm. How do I install a branch? Any chance I can get my hands on a dist folder of 3.0.0? Thanks!

[2019-10-14 23:46] thijstriemstra commented on #91
download the zip, unpack and follow instructions here to build the `dist` folder: https://github.com/collab-project/videojs-wavesurfer#development

[2019-10-14 23:54] seabasss commented on #91
@thijstriemstra I'm afraid I can't get it to work. I unpack the zip and place the "videojs-wavesurfer-3" folder in the "node_modules" folder and run "npm run build videojs-wavesurfer-3".

It gives me this message: "ENOENT: no such file or directory"

Sorry, first time doing this and I've only installed things using "npm install <package>" before

[2019-10-14 23:57] thijstriemstra commented on #91
follow the steps in the link.. you first need to build the dist folder using these steps. unzip, cd unzipped-folder, npm install, npm run build.

[2019-10-15 00:04] seabasss commented on #91
@thijstriemstra Cool, I may have gotten it to work. Well, a "videojs.wavesurfer.js" file was generated into a dist folder :) It says version 2.11.0 and not v3 in it, but I'll give it a go. Thanks

[2019-10-15 00:09] thijstriemstra commented on #91
ah yea, ill update the version. check the `example/index.html` in the zip for the new settings.

[2019-10-15 04:59] seabasss commented on #91
This stuff is way over my head. I've tried for hours, but not getting anywhere :( I see that you moved the src out of the plugins option.

Any way you could get a working example with the following [videojs-playlist](https://github.com/brightcove/videojs-playlist) code?

[code]

[2019-10-22 10:41] ybinnenwegin2ip opened #93 "Video.js play/pause toggle broken with wavesurfer MediaElement source"
## Description
When using Wavesurfer's MediaElement source via videojs-wavesurfer the play/pause toggle in videojs breaks. The native media controls still work fine, calling the video.js player object's `play()` & `pause()` functions in the console also works.

## Steps to reproduce
Open this jsfiddle:

https://jsfiddle.net/crgdm3vx/

Hit the play icon, nothing happens.

In case the above jsfiddle

[2019-10-22 10:42] ybinnenwegin2ip commented on #93
A bit of extra context as to what I'm trying to achieve:

In [this](https://collab-project.github.io/videojs-wavesurfer/examples/video.html) videojs-wavesurfer example the waveform is shown 'in' the video.js window and the video below it. I would like to show the video in the video.js window as it would normally appear and place the waveform in a `div` of my choice.

[2019-10-22 11:56] thijstriemstra commented on #93
@ybinnenwegin2ip I'm working on version 3 of this library that will support your use-case. Can you give pull request #94 a try? (make sure to use config in `examples/index.html` config). Please leave any feedback on that pull request.

[2019-10-22 14:30] ybinnenwegin2ip commented on #93
@thijstriemstra thanks v3 solves my issue! I've left some (positive) feedback on your pull request. :)

Thanks for your time and have a good day!

[2019-10-22 15:22] thijstriemstra commented on #93
thanks! I'll close this once v3.0 is released.

[2020-04-07 20:22] #93 closed

[2020-04-07 20:22] #91 closed

[2020-04-22 17:17] jaysu77 opened #98 "Using Angular 8"
import WaveSurfer from 'wavesurfer.js'
 plugins: {
    WaveSurfer: {
      msDisplayMax: 10,
      debug: true,
      waveColor: 'grey',
      progressColor: 'black',
      cursorColor: 'black',
      hideScrollbar: true
    }
  }
Error :------------------------------------------------------------------------------------------
PlayerAudioComponent_Host.ngfactory.js? [sm]:1 ERROR Error: plugin "Wav

[2020-04-22 18:08] thijstriemstra commented on #98
@jaysu77 take a look at https://github.com/collab-project/videojs-wavesurfer/wiki/Angular

[2020-05-10 05:47] aronquiray opened #99 "m3u8 with wavesurfer enabled?"
## Description
Basically, I already have a m3u8 file (along with the files) and also generated peaks.
The problem is that each time I try to load the wavesurfer separately, It doesn't show at all

## My Code & Results
[https://prnt.sc/se0wj2](url)
![download (2)](https://user-images.githubusercontent.com/13714092/81491754-48274580-92c4-11ea-85ee-55ef9f8c61ab.png)

but if I add a source inside the

[2020-05-12 15:08] thijstriemstra commented on #98
no feedback, closing.

[2020-05-12 15:08] #98 closed

[2020-05-12 18:02] thijstriemstra commented on #99
@aronquiray your trying with an older version of videojs-wavesurfer (2.11.0). Can you try v3.0.0 instead (released earlier today)?

[2020-05-13 09:59] boris-petrov opened #101 "[3.0.2] Cannot read property 'params' of undefined"
[This line](https://github.com/collab-project/videojs-wavesurfer/blob/3.0.2/src/js/middleware.js#L8) is always called by `video.js` when playing something. However, if `videojs-wavesurfer` hasn't been configured in the options (but has been loaded as a plugin), `this.player.wavesurfer().surfer` is `undefined` and that line blows up. Or am I missing something?

[2020-05-13 11:33] thijstriemstra commented on #101
thanks for the report @boris-petrov. I will add an example/test with multiple (non-)videojs-wavesurfer instances to verify all works properly and fix that issue.

[2020-05-13 12:55] thijstriemstra commented on #101
Related to https://github.com/videojs/video.js/issues/6311

[2020-05-13 13:12] thijstriemstra commented on #101
PR #102 should fix it, can you give it a try @boris-petrov?

![Screenshot from 2020-05-13 15-01-34](https://user-images.githubusercontent.com/305679/81816803-2203de80-952c-11ea-901f-9d74f7c09a16.png)

[2020-05-13 13:30] boris-petrov commented on #101
@thijstriemstra - thank you for the great support! This PR seems to fix the issue, yes, thanks!

[2020-05-13 13:42] #101 closed

[2020-05-13 13:50] thijstriemstra commented on #101
Released as v3.0.3.

[2020-05-13 15:01] aronquiray commented on #99
will try.

[2020-05-13 16:10] aronquiray commented on #99
I got this error now.
![Screenshot_1006](https://user-images.githubusercontent.com/13714092/81837323-489b3700-9577-11ea-97e0-750d387d013b.png)

[2020-05-13 22:27] thijstriemstra commented on #99
Ah, that sucks. I'll take a look.

[2020-05-13 22:29] thijstriemstra commented on #99
related to #17

[2020-06-19 11:21] hrvoj3e opened #105 "audio muted when using plugin"
https://jsfiddle.net/ukexqgsh/1/

With plugin player is muted. Without - it plays normal.

[code]

Console shows
[code]

What am I doing wrong?

[2020-06-20 01:34] thijstriemstra commented on #105
what browser/video.js version/os?

[2020-06-23 07:27] hrvoj3e commented on #105
Chrome 83.0.4103.116
Versions are in jsfiddle - copy/paste here

[code]

[2020-06-23 14:32] ssp4all opened #106 "Uncaught (in promise) TypeError: Cannot read property 'includes' of undefined"
## Description
On hitting the play button on https://collab-project.github.io/videojs-wavesurfer/demo/live.html
it is showing below error on console.

`
Uncaught (in promise) TypeError: Cannot read property 'includes' of undefined
    at MicrophonePlugin.fireEvent (observer.js:125)
    at MicrophonePlugin.deviceError (microphone.js:348)
    at microphone.js:153
`

## Steps to reproduce
Go to https

[2020-06-23 14:38] thijstriemstra commented on #106
yea it's an issue with wavesurfer.js 4.0.0. Use wavesurfer.js 3.3.3 for now. See https://github.com/katspaugh/wavesurfer.js/issues/1975

[2020-06-23 20:37] ssp4all commented on #106
Hey, @thijstriemstra thanks for a quick response.

[2020-06-23 20:40] ssp4all opened #107 "How to avoid downloading multiple files"
## Description
how can I avoid downloading multiple files?

## Steps to reproduce
when the user hit retry after clicking an image then again click an image, then after clicking the download button two images are getting downloaded but I want the latest one.

PROBLEM:
sourcecode for capturing images using video.js is below
[code]

[code]

## Results
### Expected
Download latest image clicked

### A

[2020-06-23 20:41] #107 closed

[2020-06-23 20:42] ssp4all commented on #107
Will ask same on video.js repo

[2020-06-23 21:08] thijstriemstra commented on #106
I'll reopen this and close it once a new wavesurfer.js is released.

[2020-06-23 21:12] thijstriemstra commented on #107
you posted this in videojs-wavesurfer project but I think you meant videojs-record?

[2020-06-26 14:23] thijstriemstra commented on #106
Use wavesurfer.js v4.0.1 or newer instead.

[2020-06-26 14:23] #106 closed

[2020-07-03 13:55] dineshmaths1 opened #108 "Angular 9 how to run without webpack"
i want to record audio only How to use with out webpack ?

[2020-07-03 14:26] thijstriemstra commented on #108
Try https://github.com/videojs/video.js/blob/main/docs/guides/angular.md and enable the videojs-wavesurfer plugin.

[2020-07-03 15:42] dineshmaths1 commented on #108
I want to record my audio

[2020-07-03 15:59] thijstriemstra commented on #108
@dineshmaths1 that's a different project, see https://github.com/collab-project/videojs-record.

[2020-07-03 15:59] #108 closed

[2020-07-04 14:27] akashgaikwad91 opened #109 "Using videojs-wavesurfer with angular 8 without webpack"
## Description
I want to use videojs-wavesurfer in my angular project without a webpack.

## Steps to reproduce
I have implemented the help of the [Example](https://collab-project.github.io/videojs-wavesurfer/#/angular)  and I am getting error as I have not used webpack.

## Error output
ERROR in ./node_modules/videojs-wavesurfer/dist/videojs.wavesurfer.js
Module not found: Error: Can't resolve 'W

[2020-07-04 15:46] thijstriemstra commented on #109
what imports are you using? have you tried making a videojs only test?

[2020-07-06 05:54] dineshmaths1 opened #110 "angular 9 video record is not supporting"
am getting this error

import videojs from 'video.js';
import * as RecordRTC from 'recordrtc';
import * as WaveSurfer from 'wavesurfer.js';
import * as MicrophonePlugin from 'wavesurfer.js/dist/plugin/wavesurfer.microphone.js';
WaveSurfer.microphone = MicrophonePlugin;
import * as Record from 'videojs-record/dist/videojs.record.js';

WARNING in ./node_modules/RecordRTC/RecordRTC.js
There are multi

[2020-07-06 08:22] sportsakash commented on #109
## imports
import videojs from 'video.js';
import * as WaveSurfer from 'wavesurfer.js';
import * as Wavesurfer from 'videojs-wavesurfer/dist/videojs.wavesurfer.js';

It is working with the videojs (without waveform)

[2020-07-07 04:55] dineshmaths1 commented on #109
same issue am facing on angular 9 #110

[2020-07-07 15:42] thijstriemstra commented on #109
@sportsakash can you copy paste a minimal example here, one with video.js working?

[2020-07-07 15:42] thijstriemstra commented on #105
@hrvoj3e can you try with wavesurfer.js 4.0.1?

[2020-07-07 18:02] sportsakash commented on #109
https://stackblitz.com/edit/angular-ivy-pqqtr5

this code is working in my local system.

[2020-07-07 23:45] thijstriemstra commented on #109
Sorry, that's not copy/pasting it here. I don't want to visit stackblitz.com, i'd like to see the code.

[2020-07-08 05:12] sportsakash commented on #109
@thijstriemstra PF the code

##vjs-player.component.ts
[code]
##vjs-player.component.html
`<audio id={{playerID}} class="video-js vjs-default-skin"></audio>`

##vjs-player.component.css
`@import '~video.js/dist/video-js.css';`

[2020-07-08 06:00] dmitriy-uvarov commented on #109
I faced similar issue even with webpack in my project. I believe that it happens because of the `externals` in the webpack config, since we have
[code]
as the result it will be
[code]
The solution in this case could be using an object instead of just strings (since target is `umd`), like this
[code]
What do you think?

[2020-07-08 12:08] thijstriemstra commented on #109
Here's the documentation for the `externals` property: https://webpack.js.org/configuration/externals/#object

I definitely want to try out, good find!

[2020-07-09 14:07] sportsakash commented on #109
I have done the changes in the videojs.wavesurfer.js which is in node_module with the help of patch-package and postinstall. It is working in the development environment.
I will be checking it in the production environment, will update the status.

Thank you All for your response

[2020-07-09 14:17] thijstriemstra commented on #109
Can you create a pull request?

[2020-08-03 13:35] dmitriy-uvarov commented on #109
Any updates here? Is anyone working on this?

[2020-08-03 14:16] thijstriemstra commented on #109
@dmitriy-uvarov can you make a pull request for your externals change?

[2020-08-05 21:16] dhavalsoni2001 opened #113 "Error: plugin "wavesurfer" does not exist"
## Description
I am currently trying to integrate the above plugin on https://github.com/react-boilerplate/react-boilerplate-cra-template - boilerplate.  But I am getting the error like `Error: plugin "wavesurfer" does not exist`.

## Steps to reproduce
Here is the sample repo to reproduce this issue : https://github.com/dhavalsoni2001/videojs-react-boilerplate-cra-template

## Results
### Expecte

[2020-08-08 18:04] thijstriemstra commented on #113
There is this guide for React: https://collab-project.github.io/videojs-wavesurfer/#/react

Any other usage of React, I can't help you with that.

[2020-08-08 18:04] #113 closed

[2020-08-08 18:42] thijstriemstra commented on #109
I tried with the following changes:

[code]

And it seems to work fine with the repository examples. If it also works with react, angular etc out of the box, which I'm going to test now, I am very glad this annoying problem is finally f*cking fixed!

[2020-08-08 18:46] thijstriemstra commented on #110
You reported this issue in the wrong repository. You already opened a new one there (https://github.com/collab-project/videojs-record/issues/493) but could've closed this one as well, which I will do now.

[2020-08-08 18:46] #110 closed

[2020-08-09 19:05] thijstriemstra commented on #105
no feedback, closing.

[2020-08-09 19:05] #105 closed

[2020-08-09 21:14] thijstriemstra commented on #109
With the new webpack externals config I tested react, webpack, and vue, and they all seem to work properly (so no webpack configuration needed anymore, woohoo!). Unfortunately I couldn't get the Angular example working, but I'm also not familiar with the framework so maybe someone can help out.

@dmitriy-uvarov @akashgaikwad91 can you try pull request #114 and see if that works for you?

[2020-08-10 07:02] di2pro commented on #109
@thijstriemstra for my case it works fine, we use latest angularjs. Is there any specific setup for Angular example? @akashgaikwad91

[2020-08-10 11:39] hrvoj3e commented on #105
@thijstriemstra Sorry.

It works now. Check it out here: https://jsfiddle.net/gv3dqmju/

[2020-08-10 12:26] thijstriemstra commented on #105
awesome, thanks for the feedback.

[2020-08-10 12:30] thijstriemstra commented on #109
@di2pro Can you share an example of latest angular example project created using angular-cli preferably? If you want to adjust the existing guide, even better, edit this file: https://github.com/collab-project/videojs-wavesurfer/blob/webpack-externals-109/docs/angular.md

[2020-08-10 15:23] akashgaikwad91 commented on #109
@thijstriemstra it works fine with the angular 10.
I have edited the existing example of angular guide and created pull request.
review the changes.

[2020-08-10 15:56] thijstriemstra commented on #109
thanks @akashgaikwad91!

[2020-08-10 20:51] thijstriemstra commented on #109
I updated the Angular guide to use the angular-cli tool. This made the guide a lot shorter and easier to follow, and also easier to maintain. Thanks for the feedback all, I will release this as v3.3.0.

[2020-08-10 20:53] #109 closed

[2020-08-11 10:31] dhavalsoni2001 commented on #113
I had followed that guide and still, it wasn't working that's why I have raised the ticket for the same.

[2020-08-11 11:51] thijstriemstra commented on #113
@dhavalsoni2001 the guide was updated yesterday (along with a new 3.3.0 release), did you use the new guide?

[2020-08-11 11:53] thijstriemstra commented on #113
you should first follow the guide step for step, see if it works (absolutely should), and then start integrating it into a different app. If it doesn't work in the other app, you can start comparing the differences and see where the issue is.

[2020-08-11 12:03] thijstriemstra commented on #113
I followed the guide on macOS Catalina step-by-step just now, and it worked fine:

<img width="428" alt="Screenshot 2020-08-11 at 14 02 27" src="https://user-images.githubusercontent.com/305679/89895014-63636300-dbdb-11ea-80cb-576511626794.png">

[2020-08-11 14:11] dhavalsoni2001 commented on #113
Hey, @thijstriemstra  Thanks for the response.  I have tried it today and still facing same issue, I am currently using  3.3.0 version of the plugin.

I am using https://github.com/react-boilerplate/react-boilerplate-cra-template boilerplate for the project.

Here is the project repo to reproduce the issue.  https://github.com/dhavalsoni2001/video-js-wavesurfer-plugin-demo
![Screenshot 2020-08-11

[2020-08-11 14:53] thijstriemstra commented on #113
Can you reproduce it using the videojs-wavesurfer react guide? Any other project, I can't help you with.

[2020-10-05 20:01] DrLongGhost opened #117 "Add Support for Loading Audio Separate From Video"
This is probably a very niche request but I need to use videojs-wavesurfer to display wavesurfer where the contents of the waveform are pulled from a different file/URL than is used for the video.

FWIW, I'll briefly explain why I need this. I want to be able to extract audio from a video file of two people speaking and process it to separate it into two channels: Person 1 on the left, and Person

[2020-10-05 20:18] thijstriemstra commented on #117
Sounds like a good enhancement, no matter if there are other workarounds. Can you maybe check what properties are/should be supported, besides `src` and `peaks`, in video.js so we can fix it properly in one go?

[2020-10-05 20:23] thijstriemstra commented on #117
Could you add a one or two sentence summary of the bug in a new comment on that wavesurfer.js ticket? It'll make it a lot easier to digest the issue, the original report is quite large.

[2020-10-05 20:33] DrLongGhost commented on #117
@thijstriemstra -- The Wavesurfer bug is kind of unrelated but I did add a note there.

You're right about probably including peaks at the same time as src. I didn't see any other properties in that file or elsewhere that I'm aware of that should be included.

So maybe something like this above the switch statement?

`
            let src = this.player.wavesurfer().surfer.params.src || srcObj.src;

[2020-10-07 14:39] DrLongGhost commented on #117
It just occurred to me that I probably don't need to be using MediaElement here since the audio playback is done through video.js and not Wavesurfer. Since my only concern with the default backend pertains to improper playback of 3+ channel audio files, this isn't an issue when playback is handled by video.js. Thus, I *can* use the regular backend here and the simpler change would actually be fine

[2020-10-07 14:44] thijstriemstra commented on #117
It isn't, when using webaudio backend.

[2020-10-07 14:45] thijstriemstra commented on #117
No, I don't want to use `src` param again, videojs-wavesurfer 3.x moved away from that.

[2020-10-07 14:48] DrLongGhost commented on #117
Oh. Then, yea, the longer fix would be better for me. But really the 3-channel thing is a minor annoyance. I'd be happy with the shorter fix, using WebAudio, and just dealing with that bug. It's not a deal breaker for me.

Can you just use a different param name? Even something namespaced for this use-case is fine. Really any way to manually inject a different URL to wavesurfer (or update it after

[2020-10-07 14:50] thijstriemstra commented on #117
The way to load a file or url is `player.src()` (see https://github.com/collab-project/videojs-wavesurfer/blob/master/examples/index.html#L61). What is 'breaking the sync'? Is there a bug?

[2020-10-07 14:52] thijstriemstra commented on #117
A different name for what? A src param? As I said, you should use `player.src()`. In videojs-wavesurfer 2.x there was `src` param and videojs's `player.src()` which was confusing and didn't make much sense, so it was removed in favor of the videojs way of doing things.

[2020-10-07 14:53] DrLongGhost commented on #117
I was using `player.load()` and not `player.src()` so let me try that and see if it works. If it does, then I should be all set. I am using 3.x.

[2020-10-07 15:21] DrLongGhost commented on #117
No luck. I think I'm misunderstanding what you're getting at, or there is indeed a bug.

These are the two things I tried.

REPLACING WAVESURFER AUDIO VIA SURFER.LOAD()
<img width="768" alt="code1" src="https://user-images.githubusercontent.com/1702840/95350813-939f4900-088e-11eb-8dc1-68613f7a6474.png">

Behavior:  The audio and video playback buttons get out of sync. Calling surfer.play() trigger

[2020-10-07 15:23] thijstriemstra commented on #117
can you test replacing different audio with audio, and video with video? we can take a look at audio for video after that.

[2020-10-07 15:25] thijstriemstra commented on #117
also you shouldn't use timeout, wait until the waveform is ready and then load:

[code]

[2020-10-07 15:32] DrLongGhost commented on #117
Sure, I'll get the correct audio file that matches the video file in length as well, just so we can not have to worry about that difference. Gimme an hour or two.

[2020-10-07 18:19] DrLongGhost commented on #117
I'll report my tests one at a time. First, trying to swap in new video for existing video...

Result:  Works as expected. The new video replaces the old one and all the playback works correctly with video.js and wavesurfer remaining synced.

There is one minor quirk. I think it probably qualifies as a wavesurfer bug, but maybe not. There are two events that I need to track:  **player.waveReady** (

[2020-10-07 18:35] DrLongGhost commented on #117
I finished testing replacing audio with audio via player.src(). It works as expected and has no issues.

BUT it shows the video player with a black pane, which makes sense since there is no video:

<img width="715" alt="VoiceVibes_Evaluate_Recording" src="https://user-images.githubusercontent.com/1702840/95372240-4a102780-08a9-11eb-9082-3727ecc26068.png">

This explains the behavior I see when I t

[2020-10-07 19:11] thijstriemstra commented on #117
What wavesurfer backend are you using?

[2020-10-07 19:14] DrLongGhost commented on #117
I was using WebAudio. I just retested with MediaElement and the behavior is identical.

[2020-10-07 19:43] DrLongGhost commented on #117
Here is my config:

<img width="428" alt="VoiceVibes_Evaluate_Recording" src="https://user-images.githubusercontent.com/1702840/95378550-12f24400-08b2-11eb-868e-4ab6dc09dbe7.png">

Forget about all the other issues I mentioned. I don't really care about any of them, except this:

- Calling "player.wavesurfer.surfer.load()" to update wavesurfer breaks the synchronization between video-js and wavesu

[2020-10-07 20:00] thijstriemstra commented on #117
can you make a codepen that reproduces the issue?

[2020-10-08 15:23] DrLongGhost commented on #117
@thijstriemstra -- Thanks for the suggestion to use your demo page. That was much easier than having to make a code pen.

Here is a simple demonstration of the bug:

1. Go to https://collab-project.github.io/videojs-wavesurfer/demo/video.html
2. Paste the following into the dev console:  `player.wavesurfer().surfer.load('https://voicevibes.s3-us-west-2.amazonaws.com/static/video/downloaded.wav');`

[2020-10-08 15:36] thijstriemstra commented on #117
Thanks for those steps. Can you try the same steps with `player.src()` and report results? Using the wavesurfer instance directly, e.g. `player.wavesurfer().surfer` is not encouraged, but for testing/debugging, sure.

[2020-10-08 15:44] DrLongGhost commented on #117
<img width="777" alt="Wavesurfer_Plugin_Video_Example" src="https://user-images.githubusercontent.com/1702840/95481908-8e5c0000-095b-11eb-8da7-a6f1165278e6.png">

It throws an error because the player is in video mode and we are trying to load an audio file.

[2020-10-14 11:33] hassaans commented on #113
@dhavalsoni2001 were you able to fix the error?

[2020-11-01 13:23] thijstriemstra commented on #117
@DrLongGhost that last screenshot, `player.src()` expects an object, try this instead:

[code]

[2020-11-11 15:56] DrLongGhost commented on #117
Using player.src() to swap in a different audio file results in the Video playback window resetting its duration counter to 00:00/00:00 and no longer playing the video when my wavesurfer play button is clicked, so this isn't a working solution for me.

[2020-12-07 13:50] ignl opened #120 "Does videojs big play button work with wavesurfer plugin?"
Hello,

I setup my player with big play button, but once I add wavesurfer plugin it disappears. I am using latest versions of videojs and wavesurfer. Is it supported, maybe I need to do something additionally for it to work?

[2020-12-17 00:40] thijstriemstra commented on #120
@ignl yea it's always been hidden, defined here: https://github.com/collab-project/videojs-wavesurfer/blob/master/src/js/videojs.wavesurfer.js#L73

Setting the `bigPlayButton` option to `true`:

[code]

doesn't help because the code I pointed out will always hide it. If you really want to use the button, comment out the code and set `bigPlayButton` to `true`. I tried this but it'll screw up the pl

[2021-01-24 18:43] thijstriemstra commented on #120
closing, no feedback.

[2021-01-24 18:43] #120 closed

[2021-02-07 20:49] dhavalsoni2001 opened #126 "How to add wavesurfer plugin with ReactJs"
## Description

- I want to integrate Region plugin into **videojs-wavesurfer** so the user can select the customized range by their self.

## Steps to reproduce

[code]

## Results
### Expected
Wavesurfer plugin should work with ReactJs.

### Actual

Getting error as below :
![Screenshot 2021-02-08 at 2 14 01 AM](https://user-images.githubusercontent.com/11704436/107159048-d182ba00-69b3-11eb-9214

[2021-02-07 21:20] thijstriemstra commented on #126
Make sure to import the timeline plugin beforehand and assign it to the wavesurfer namespace:

[code]

See https://collab-project.github.io/videojs-wavesurfer/#/react

[2021-02-07 21:20] #126 closed

[2021-02-17 11:49] Iquebal opened #127 "Sync videojs-wavesurfer with SpectrogramPlugin and waveform"
Hi,

I sync with three thing toghther. Sync videojs-wavesurfer with SpectrogramPlugin and waveform
I am able to sync three things toghther.

--
Thanks,
Iquebal

[2021-02-17 12:20] thijstriemstra commented on #127
@Iquebal take a look at this example: https://github.com/collab-project/videojs-wavesurfer/blob/master/examples/plugin.html

And mix it with the video example. What code do you have so far?

[2021-02-17 12:37] Iquebal commented on #127
Hi,
 I also want to bind Spectrogram.

thanks

[2021-02-17 12:54] thijstriemstra commented on #127
What does that mean? videojs-wavesurfer should add a spectrogram below the player when you enable the plugin, like this: https://wavesurfer-js.org/plugins/spectrogram.html

[2021-02-17 13:12] mayurshinde4590 commented on #127
Hi  thijstriemstra ,
i am also working with iquebal we stucked in below problem.
we need help in binding videojs and wavesurefer.js and spectogram,

example :- when i play video  both spectogram and wavesurfer should play,and when i pause video all should pause.meanse all should in sync
please help us above problem .
thanks & regards
Mayur

[2021-02-17 13:16] mayurshinde4590 commented on #127
How we can add spectogram in below code can you please help use.

   plugins: [
                // timeline
                WaveSurfer.timeline.create({
                    container: '#wave-timeline'
                }),
                // regions
                WaveSurfer.regions.create({
                    regions: [
                        {
                            start: 1.123,

[2021-02-17 13:19] thijstriemstra commented on #127
See https://github.com/katspaugh/wavesurfer.js/tree/master/example/spectrogram and https://github.com/collab-project/videojs-wavesurfer/blob/master/examples/plugin.html

Use
[code]

[2021-02-17 13:33] mayurshinde4590 commented on #127
Thanks for your reply,

but it seems not working in aur code can you please check below code that we have written and find mistake that we done.

 this.config = {
      controls: true,
      bigPlayButton: false,
      autoplay: false,
      fluid: false,
      loop: false,
      width: 600,
      height: 200,
      plugins:
      {
        // configure videojs-wavesurfer plugin
        wavesurfer

[2021-02-17 13:33] mayurshinde4590 commented on #127
this.config = {
      controls: true,
      bigPlayButton: false,
      autoplay: false,
      fluid: false,
      loop: false,
      width: 600,
      height: 200,
      plugins:
      {
        // configure videojs-wavesurfer plugin
        wavesurfer: {
          backend: 'MediaElement',
          displayMilliseconds: true,
          debug: true,
          waveColor: 'lightblue',
          prog

[2021-02-17 13:43] mayurshinde4590 commented on #127
Hi thijstriemstra Sir,

actually we took help from many of aur engineers but not able to find solution ,Sir If you have time then please connect with us on hangout .

[2021-02-17 13:48] thijstriemstra commented on #127
i can provide paid consulting services. where can i email you?

[2021-02-17 13:57] mayurshinde4590 commented on #127
please find my email id below

   mgshinde007@gmail.com

[2021-02-17 14:03] mayurshinde4590 commented on #127
Hi Sir,

Can we have call once you free.

Thanks & Regards
Mayur shinde

On Wed, Feb 17, 2021, 6:49 PM Thijs Triemstra <notifications@github.com>
wrote:

[2021-02-17 19:44] thijstriemstra commented on #127
I sent you an email earlier today.

[2021-02-18 02:42] mayurshinde4590 commented on #127
Hi Sir
 I am not able to pay because my salary is very low I am fresher in
company, I am not able to solve this that's why I messaged you.

Thanks
Mayur

On Thu, Feb 18, 2021, 1:15 AM Thijs Triemstra <notifications@github.com>
wrote:

[2021-02-19 13:31] Iquebal commented on #127
Hi,
 Here is the code I want to Sync videojs.wavesurfer, wavesurfer, SpectrogramPlugin  I am able to Sync videojs.wavesurfer, wavesurfer but not the Sync SpectrogramPlugin. Here is the code. Please review the code where I am doing little mistake. Find the screenshot for the same.
![Uploading spec.PNG…
![spec](https://user-images.githubusercontent.com/8733452/108510677-d2391b80-72e4-11eb-9b01-82bb2

[2021-02-22 06:50] mayurshinde4590 commented on #127
Hi  thijstriemstr,
The issue has been resolved but the problem is on first time spectogramm is not loading and when i replay video its working properly can you please guide us .

Thanks& regards
Mayur

[2021-03-03 12:54] ignl opened #128 "Memory leak"
## Description
During navigation I destroy wavesurfer player with microphone plugin, but it seems memory is not exactly freed and slowly increasing by creating/destro
![1](https://user-images.githubusercontent.com/2720602/109808874-4acaa100-7c30-11eb-9b23-52e6626d4500.png)
![2](https://user-images.githubusercontent.com/2720602/109808878-4c946480-7c30-11eb-87ea-6fee0952a73c.png)

ying player.

## V

[2021-03-03 12:59] thijstriemstra commented on #128
thanks for the report. A memory issue was resolved in wavesurfer.js 4.5.0, can you give that a try @ignl?

[2021-03-03 14:02] ignl commented on #128
Yes, it's the same thing with new version as well. It seems that videojs wavesurfer plugin still holds reference to videojs player through some handlers(?) that are not cleared. Not sure haven't checked the code myself yet, maybe you might know right away.

[2021-03-03 14:29] thijstriemstra commented on #128
can you attach a small example that reproduces the issue?

[2021-03-03 17:00] ignl commented on #128
I have tried first to modify regular example videojs-wavesurfer plugin audio example and it seems it works ok. However in my example I used wavesurfer plugin with audio recorder and after adding that into example memory leak is visible clearly when pressing init/destroy buttons and doing allocation instrumentation (Memory tab in google chrome dev tools).
I use google chrome 88 on kubuntu 20.10. It

[2021-03-15 19:28] DrLongGhost opened #131 "Safari Rendering Blank Waveforms in Wavesurfer"
## Description
Some mp4 videos work fine in all browsers except Safari. In Safari, they fail to render a waveform in Wavesurfer, which remains showing the default flat line. I have also seen it render a waveform incorrectly as a completely flat line except for a tiny bump in the middle (when all other browsers render the waveform normally).

To be clear, though, other mp4 videos work fine everywhe

[2021-03-16 16:40] DrLongGhost opened #132 "redrawWaveform Breaks Regions and is Possibly Not Needed"
## Description
When video.js has fluid set to "true", the redrawWaveform() method is called every time the page is resized.

This method destroys Wavesurfer then tries to reinstantiate it and restore playback position and anything else that was affected. This behavior fails to take into account the regions plugin. Thus, Wavesurfer could have regions showing which are suddenly made to disappear sim

[2021-03-18 17:37] thijstriemstra commented on #131
What version of iOS? Always good to include when reading up on a bug months later.

[2021-03-20 14:15] ale1967 opened #133 "MPD Support"
Sorry to bother with an open issue, but I haven't found any information and don't know how to ask.

Is mld supported, every time I try to open an mpd file I have an error on wavesufer.js exactly here

function fetchFile(options) {
  if (!options) {
    throw new Error('fetch options missing');
  } else if (!options.url) {
    throw new Error('fetch url missing');

because the url is empty, while w

[2021-03-20 14:46] thijstriemstra commented on #133
@ale1967 what does your videojs-wavesurfer config look like? what version of videojs-wavesurfer and wavesurfer.js? and what is the exact error?

[2021-03-20 15:06] ale1967 commented on #133
Hi,
I'm using

- video.js version 7.7.5
- dash.all.min.js version 3.2.1
- videojs-dash.min.js version 4.1.0
- wavesurfer.js version 4.6.0
- videojs.wavesurfer.js version 3.6.0

the exact error is

Uncaught Error: fetch url missing
    at Object.fetchFile (wavesurfer.js:2656)
    at WaveSurfer.getArrayBuffer (wavesurfer.js:5035)
    at WaveSurfer.loadMediaElement (wavesurfer.js:4979)
    at WaveSur

[2021-03-20 21:12] thijstriemstra commented on #133
where do you load the file? i dont see any `player.src()` call?

[2021-03-20 22:56] ale1967 commented on #133
i have angularjs and in the controller I have a function that set the src, an extract

if ($scope.selectProxy.endsWith("mp4")) {
                                playerIstance.src([
                                    {
                                        type: "video/mp4",
                                        src: $scope.selectProxy
                                    }

[2021-03-21 13:05] ale1967 commented on #133
Doing some tests (hope this can help) I have seen this:

- First execution with mp4 file using http url

I can see the url (line 151 videos.wavesurfer.js)

![Schermata 2021-03-21 alle 13 16 45](https://user-images.githubusercontent.com/8517668/111904732-ad9da400-8a48-11eb-983d-f4340ef84e7f.png)

this is the console.log of element field, it contains the url

![Schermata 2021-03-21 alle 13 17 21](ht

[2021-03-22 13:13] thijstriemstra commented on #133
a related video.js stackoverflow question: https://stackoverflow.com/questions/63197583/video-js-format-mpd-m3u8-not-supported-and-depreciation-messages

[2021-03-22 15:30] thijstriemstra commented on #132
I agree.

It's probably the css that does a good enough job:

[code]

I will get rid of the resize handlers.

[2021-03-22 15:44] thijstriemstra commented on #17
HLS is now supported in video.js (since v7.0):

More at https://github.com/videojs/http-streaming

So this should already be possible.. testing..

[2021-03-22 17:06] thijstriemstra commented on #17
I tested the multi example with this:

[code]

And see this error:

[code]

It seems video.js vhs implementation creates a blob url [here](https://github.com/videojs/http-streaming/blob/b33e1091a1a395678f47e23ac0d61eefec173c72/src/videojs-http-streaming.js#L939):

[code]

And passes it to the videojs-wavesurfer middleware. Unfortunately there is some Security Error when trying to load this `blob:h

[2021-03-22 17:08] thijstriemstra commented on #133
@ale1967 see https://github.com/collab-project/videojs-wavesurfer/issues/17#issuecomment-804235934 for some more investigation.

[2021-03-22 21:39] #132 closed

[2021-03-29 13:19] DrLongGhost commented on #131
@thijstriemstra -- I just retested and bug is still present.

Latest iOS (14.4.2) on iPhone 12 Mini

Safari 14.0.3 on MacOS 11.2.3

[2021-03-29 16:43] thijstriemstra commented on #131
@DrLongGhost I hope upcoming ios 14.5 will improve things.

[2021-04-16 14:49] DrLongGhost commented on #131
@thijstriemstra -- I just tested this in Safari Technology Preview -- Safari 14.2 on Mac Big Sur -- and the issue is still present.

I don't know anything about the relevant code but the fact that some mp4s work fine and others dont leaves me to believe this issue might be fixable. Is there any chance you can take a look at some point since it doesnt seem like Apple will be fixing this any time so

[2021-04-16 17:27] thijstriemstra commented on #131
Safari Tech Previews have a version nr, e.g. 121

[2021-04-19 16:32] DrLongGhost commented on #131
@thijstriemstra -- Release 123 (Safari 14.2, WebKit 16612.1.7.10)

[2021-05-06 00:59] MichaelHeydon opened #135 "Just toggle sound playback on container selection"
Rather than move the playhead to the selected position on waveform container selection, I would just simply like to toggle the sounds playback. Is this possible with an existing option? This is so in this instance the behaviour matches what would occur when selecting a video component.

[2021-05-25 10:32] samueleastdev opened #140 "How to compile to ES5"
i would like to use this plugin but I cant seem to get it to compile to es5.

Could you help me with this or point me in the right direction.

I have try adjusting the .babelrc file with the following as per their docs.

[code]

In their docs they say to leave it blank to compile to ES5

https://babeljs.io/docs/en/babel-preset-env

**No targets
Since one of the original goals of preset-env was to

[2021-05-25 11:31] thijstriemstra commented on #140
@samueleastdev you need to skip webpack and only use the `babel` command if you don't want those webpack statements. Can you follow steps in this video: https://www.youtube.com/watch?v=z_XkUSaQ5UY

[2021-06-04 19:58] thijstriemstra commented on #140
did you manage to get it to work @samueleastdev?

[2021-06-04 19:58] #140 closed

[2021-06-18 17:23] icecoveredjune opened #144 "Region events "region-in" and "region-out" fired in wrong order"
## Description
Incorrect event firing order.
When clicking on region in reverse order, evens fired in wrong order "region-in" => "region-out".
When clicking in direct order, evens fired in correct order "region-out" => "region-in".

## Steps to reproduce
1)Have at least two regions (i.e. №1 and №2).
2) Start to play video.
3) When video entering in region №2, click in region №1.

## Results
Events

[2021-06-18 17:34] #144 closed

[2021-07-07 20:37] saeed410 opened #146 "add wavesurfer dynamically"
hello everybody. i am trying to use this plugin in chat page. and add wave effect to audio messages. i fetch chat messages via ajax.
I have tried different approach to add plugin but none of them working. if you have similar experience please share it. i appreciate it.
the nearest way to completely working plugin; i generate new audio tag and append it to audio message. but only video-js loads but

[2021-08-16 10:54] DManujaya opened #147 "Wavesurfer.js region events"
I am trying to extend the region and timeline implementation from the example in the documentation [linked here](https://collab-project.github.io/videojs-wavesurfer/demo/plugin.html). I want to run a function on "region-click" or on "region-play" but to no avail. Is there a specific way to do this?
The Wavesurfer region events can be found [here](https://wavesurfer-js.org/plugins/regions.html)

[2021-08-16 10:59] DManujaya commented on #147
![image](https://user-images.githubusercontent.com/88760921/129553602-04e9ba3a-53d9-4a98-b5fe-004e4f02f87a.png)
This is how I tried on Angular 9

[2021-08-16 11:29] thijstriemstra commented on #146
@saeed410 try this example:

[code]

[2021-08-16 11:29] #146 closed

[2021-08-16 11:30] #135 closed

[2021-08-16 11:43] #147 closed

[2021-08-16 11:44] thijstriemstra commented on #147
@DManujaya take a look at https://collab-project.github.io/videojs-wavesurfer/#/methods?id=wavesurferjs

And try:

[code]

I also updated the plugin example to include this change.

[2021-08-16 14:13] DManujaya commented on #147
Yup that works like a charm. Thanks a lot

[2021-08-25 13:28] vickybiswas opened #148 "Cannot see soundwaves"
## Description
All working but cannot see the wave

## Steps to reproduce
https://jsfiddle.net/x0ho1b9m/1/

## Results
### Expected
Expected to see the waveform rendered, everything else works fine.

### Actual
Other than the wave rendering all works as expected

### Error output
None just doesn't work shows Waveform generated but no waveform.

## Versions
Make sure to include the following versio

[2021-08-25 13:49] thijstriemstra commented on #148
duplicate of #99

[2021-08-25 13:49] #148 closed

[2021-09-01 09:02] DManujaya opened #149 "getPeaks() returns an empty array"
I'm trying to get the peak data of a WAV file so that I can cluster the silences in the audio but the `getPeaks()` method returns an empty array.
Any help would be really appreciated.

This is what I have tried so far:

[code]

[2021-09-01 13:53] thijstriemstra commented on #149
you should include the videojs(-record) configuration and version nrs. It's part of ticket guidelines!!

[2021-09-01 18:41] DManujaya commented on #149
Sorry about that!
react: 17.0.2",
videojs-wavesurfer: 3.8.0

[2021-09-02 14:39] DManujaya commented on #149
@thijstriemstra Is there any update?

[2021-09-02 14:41] thijstriemstra commented on #149
im on a holiday. do you see any updates? you know it's very rude to demand an answer from me?

[2021-09-02 17:08] DManujaya commented on #149
@thijstriemstra Really sorry about that. Didn't mean to come off as aggressive. Enjoy your holiday.
Once again I apologize

[2021-09-29 06:06] OishiNanano opened #150 "autoplay:false but safari recognize it as autoplay"
Hi, we enjoy your project :)

We disable the autoplay setting, but we can't play sound on safari and firefox.
Only when we allow autoplay in browser setting, we can play.

## Versions
macOS big sur: 11.2.3
safari: 14.0.3
firefox: 92.0.1
videojs-wavesurfer: 3.7.0
Video.js: 7.11.8
wavesurfer.js: 5.0.1

## Steps to reproduce
Our settings is below.
[code]

Thanks.

[2021-11-12 14:24] kjw3898 opened #151 "change src (player.src()) bug that duplicate event fire"
## Description

I use this plugin on react, and it's nice project. thanks
when I change the src the player, it looks good work.

`this.player.src({src: '../media/hal.wav', type: 'audio/wav'}); `

but it fire event twice.
if change the src once more, it fire event 3times

so I tried to find problem from my project, I found weird console message
when init page ( first src load)
`
video.min.js:12 VID

[2021-11-16 01:48] kjw3898 commented on #151
I tried to debug this problem but it's wavesurfer.js  problem.
in wavesufer.js load function call this.empty(); but in empty function, not work this.clearTmpEvents();
so that's why Event duplicated.

[2021-11-27 22:53] thijstriemstra commented on #131
Still seeing issue with wavesurfer.js 5.2.0 and Safari Tech Preview 135 (Safari 15.4, WebKit 17613.1.7.3)

[2021-11-27 23:30] thijstriemstra commented on #149
You shouldn't check it in the `waveReady` event. Trying your example and pasting this in the console:

[code]

And I see the peaks data:

<img width="384" alt="Screenshot 2021-11-28 at 00 28 18" src="https://user-images.githubusercontent.com/305679/143723293-5765aa0f-a99a-4707-a8ff-d8aeefaba637.png">

[2021-11-27 23:30] #149 closed

[2021-11-27 23:53] thijstriemstra commented on #150
I tested with Firefox 94.0.2 on macOS 12.0.1 with your settings and it worked fine on http://localhost:8080/examples/index.html

Safari Tech Preview 135 (Safari 15.4, WebKit 17613.1.7.3) also worked fine.

I didn't work properly with latest stable Safari 15.1 (17612.2.9.1.20) desktop.

Haven't tested with iOS.

[2021-11-28 00:05] thijstriemstra commented on #151
Thanks for the detailed feedback. I was able to reproduce this without react as well, simply call `player.src()` at some point, e.g:

[code]

and it triggers the `waveformReady` event twice.

[2021-12-09 22:21] shallfer7 opened #153 "Using zoom on videojs-wavesurfer"
Hi

Is there any way to implement zoom on videojs-wavesurfer ? Something like [this](https://wavesurfer-js.org/example/zoom/index.html), but on the waveform of videojs

Thank you

[2022-01-26 05:38] OishiNanano commented on #150
I apologise for the delay in replying to you.

I updated Firefox and tested with Firefox 96.0.2 again. It worked fine!
In my environment, in the case which prohibits autoplay, default volume is muted. So, I think I misunderstood it can't play.
I'm sorry.

And it worked fine on future version of safari is good news!
Thank you for your investigation.

[2022-01-26 05:39] #150 closed

[2022-01-31 15:12] Megidd opened #154 "How to use inside a sophisticated react-js app"
## Description
I'm trying to use `videojs-wavesurfer` inside a sophisticated react-js app. I have studied and followed these docs:

https://collab-project.github.io/videojs-wavesurfer/#/usage
https://collab-project.github.io/videojs-wavesurfer/#/react

But I have a hard time integrating `videojs-wavesurfer` into current code. I'm seeking help here. Can anybody help us figure out how `videojs-waves

[2022-01-31 16:52] thijstriemstra commented on #154
What kind of error messages etc are you seeing?

[2022-02-01 05:38] Megidd commented on #154
Thanks @thijstriemstra :smiley: The strange thing is that no error message is received. Nothing.

Everything seems to be fine, but `videojs-wavesurfer` is apparently ignored altogether.

[2022-02-01 19:29] thijstriemstra commented on #154
Hmm. Without any errors it's hard to say what's wrong.. Maybe you should try integrating video.js only first: https://docs.videojs.com/tutorial-react.html

[2022-02-02 05:34] Megidd commented on #154
@thijstriemstra Makes sense :) I'm going to do that.

[2022-02-04 07:28] Megidd commented on #154
@thijstriemstra Integrating the `video.js` only first, and then adding `videojs-wavesurfer` plugin, leads to an error. I'm trying to debug it :slightly_smiling_face:

https://github.com/mediacms-io/mediacms/pull/403#issuecomment-1029721433

[2022-02-05 15:10] thijstriemstra commented on #154
@Megidd make sure the following code is working correctly, which prints all version numbers for the required javascript dependencies:

[code]

because it looks like you don't have wavesurfer.js properly included.

[2022-02-06 01:49] Megidd commented on #154
Thanks @thijstriemstra :smile:

For some reason, this error is thrown before I can do any logs:

# Simple demo

To better understand the error cause, I created this simple *demo* repository:

https://github.com/Megidd/videojs-wavesurfer-react

Based on this guide:

https://collab-project.github.io/videojs-wavesurfer/#/react

The simple *demo* code works fine:

![Screenshot_20220206_050750](https:/

[2022-02-11 16:07] Megidd commented on #154
Finally, audio wave is visualized just fine by commit https://github.com/mediacms-io/mediacms/pull/403/commits/e12367edc523accf8768d28c45ae350eb97c3830

![Screenshot_20220211_193044](https://user-images.githubusercontent.com/17475482/153625803-996d13e4-ae3f-40d4-ada2-fd60c4b0e0c2.png)

# Note

The audio wave is visualized fine. However, it is not played for some reason. I guess debugging why the a

[2022-02-11 16:07] #154 closed

[2022-02-15 08:45] Megidd commented on #154
Here is the continuation of this problem:

https://github.com/videojs/video.js/discussions/7644

Basically, I have to register and initialize `videojs-wavesurfer` plugin alongside another *custom* videojs plugin. It's a bit tricky for me :smile:

[2022-02-16 00:21] yu0307 opened #158 "Cannot read properties of undefined (reading 'params'), Vue3"
## Description
When using wavesurfer plugin, it seems the surfer never gets initiated which result in params not found within the wavesurfermiddleware.

## Steps to reproduce
Vue component file
[code]

## Results
### Expected
Please describe what you expected to see.
wavesufer should display
### Actual
when using the component and loading a webm file via the medias prop.getting error
The error is

[2022-02-16 02:56] thijstriemstra commented on #158
Can you check if you can access the wavesurfer version nr, e.g:

[code]

[2022-02-16 03:33] Megidd opened #159 "Register manually"
## Automatic registering

`videojs-wavesurfer` plugin registers itself automatically upon proper import:

[code]
## Problem

Sometimes, the exact sequence of above imports is *not* possible. For example `videojs` is already declared somewhere else inside the application and cannot be imported again.

Is there a way to register it manually? I have tried this, but it didn't work:

[code]

The above

[2022-02-16 04:58] yu0307 commented on #158
No sir, the execution never reaches the callback. it's like wavesurfer was never initialized correctly.

[2022-02-16 11:41] thijstriemstra commented on #158
Have you tried https://collab-project.github.io/videojs-wavesurfer/#/vue? Please check if that works for you.

[2022-02-16 20:00] yu0307 commented on #158
Sorry, I mean I followed the instructions from there, and I walked through my code and even matching character cases and trying to get a working model, but still with no success. Were you able to replicate the error as well?

[2022-02-16 20:03] thijstriemstra commented on #158
I'll give it a try at some point.

[2022-02-18 06:36] Noahs98 commented on #17
Sorry to bother, any news about this problem? I just bumped with this problem, wavesurfer.js cannot get the file while using m3u8 to load audio. The problem is similar to "Unfortunately there is some Security Error when trying to load this blob:http://localhost:8080/81fa0ed5-0627-43e0-9122-8c0baa5044a5 Blob.".

[2022-03-08 05:46] tntsoft commented on #158
@thijstriemstra any news on the above? I'm also encountering the same issue.

[2022-03-08 14:47] thijstriemstra commented on #158
Looks like vue had a new [major release](https://github.com/vuejs/vue-cli/releases/tag/v5.0.1) (v5). I followed the [guide](https://collab-project.github.io/videojs-wavesurfer/#/vue) and ended up with errors while running `npm run serve`. I'll take a look at the problem later.

[code]

[2022-03-08 16:53] esukmonica opened #160 "VIDEOJS: ERROR: Error: HTTP error status: 0"
I have taken the "Wavesurfer Plugin Video Example" and change the video file to be played to:

`    // load file
    player.src({src: 'test.mp4', type: 'video/mp4'});`

When loading the page I get  "ERROR: Error: HTTP error status: 0". The video file plays, but no waveform is displayed.

Any ideas?

Thanks

[videojswavesurfer.zip](https://github.com/collab-project/videojs-wavesurfer/files/8208103/

[2022-03-08 20:29] thijstriemstra commented on #159
No, there currently isn't, it's registered automatically.

You can remove the register call and do it yourself elsewhere: https://github.com/collab-project/videojs-wavesurfer/blob/master/src/js/videojs.wavesurfer.js#L836

[2022-03-08 21:39] #158 closed

[2022-03-08 21:40] thijstriemstra commented on #158
I fixed the issue in the guide, please try again.

[2022-03-08 21:50] thijstriemstra commented on #153
Yes, you can set the zoom level on wavesurfer.js like this (based on the example you linked):

[code]

[2022-03-08 21:50] #153 closed

[2022-03-08 21:51] thijstriemstra commented on #160
@esukmonica are you able to play the video file directly in the browser using a URL?

[2022-03-09 05:42] Megidd commented on #159
@thijstriemstra Alright :) I'm going to try to remove the register call and do it myself. Maybe I can work around my problem by this approach.

[2022-03-09 05:43] #159 closed

[2022-03-09 09:29] esukmonica commented on #160
Yes, I can play the video in Chrome via: http://localhost/video/test.mp4

However, if I replace

`player.src({src: 'test.MP4', type: 'video/mp4'});`

with

`player.src({src: 'http://localhost/video/test.mp4', type: 'video/mp4'});`

then I still get the same error and no waveform, but now I cannot play the video neither. I do not get any of the player controls either (play, volume buttons)

`video.

[2022-03-09 12:38] thijstriemstra commented on #160
Can you try other browsers, e.g. firefox or edge?

[2022-03-09 13:06] esukmonica commented on #160
Firefox: 98.0 (64-bit). Applies to both scenarios (having a video source as URL or within the page)

- Video cannot be played
- No waveform
- No video controls

EDGE: Version 99.0.1150.36 (Official build) (64-bit), behaves in the same way as chrome. if video is within page, it can be played but no waveform is displayed, if video source uses the video URL, the video cannot be played and no waveform

[2022-03-09 14:14] thijstriemstra commented on #160
The regular example works ok: https://collab-project.github.io/videojs-wavesurfer/demo/video.html

Can you try a different video, and maybe also paste output of `ffprobe` (part of ffmpeg) for the video here.

[2022-03-09 15:28] esukmonica commented on #160
Thanks thijstriemstra

All working now. The error was caused by opening the .html directly from disk.

I have now opened the html via the URL and I get the waveform

[2022-03-09 15:28] #160 closed

[2022-03-15 05:51] kiambote opened #161 "Big Play Button still hiding on mobile (Videojs)"
## Description
The play button is not showing using the library as plugins on videojs

## Steps to reproduce
[code]

[2022-03-15 15:11] thijstriemstra commented on #161
The big play button is not used in this videojs plugin because it interferes with the wavesurfer.js instance. This is why It's explicitly [disabled in the code](https://github.com/collab-project/videojs-wavesurfer/blob/3.8.0/src/js/videojs.wavesurfer.js#L79)

If you comment out that check, and recompile, you will end up with this:

![Screenshot from 2022-03-15 16-10-42](https://user-images.githubu

[2022-03-17 03:05] Micrufun commented on #159
Sorry @thijstriemstra :smile: I noticed this issue is closed. Is it implemented? I'm just curious sorry :sweat_smile:

[2022-03-17 03:06] Megidd commented on #159
Sorry @thijstriemstra :smile: I noticed this issue is closed. Is it implemented? I'm just curious sorry :sweat_smile:

[2022-03-20 03:09] vbspace opened #162 "Loading data peaks"
Trying to load data peaks
Is it possible, if so, how can I do that ?

thank you!

[2022-03-20 04:18] vbspace commented on #162
The example folder has a demonstration. Thank you

[2022-03-20 04:18] #162 closed

[2022-04-15 12:09] snorreks opened #163 "Zoom method not found in player.wavesurfer().surfer"
## Description
I want to use the [zoom](https://wavesurfer-js.org/example/zoom/index.html) method from [wavesurfer.js](https://wavesurfer-js.org/docs/methods.html). But when using player.wavesurfer().surfer it  does not show the zoom method #153.

## Steps to reproduce
How I initialize the player:
[code]
## Results
### Expected
Expecting to find and use the zoom method.

### Actual
player.wavesurf

[2022-04-15 12:13] thijstriemstra commented on #163
I tried this is in a browser console on https://collab-project.github.io/videojs-wavesurfer/demo/index.html

And zoom etc is available:

![Capture](https://user-images.githubusercontent.com/305679/163569436-d2d002dd-6abd-4116-81b8-89b0bf10e10c.JPG)

[2022-04-15 12:32] snorreks commented on #163
it works after all! it was hidden in prototype.

[2022-04-15 12:32] #163 closed

[2022-06-09 22:08] nickmerwin commented on #113
@hassaans can you please elaborate on your workaround?

I'm using esbuild and having the same issue where the plugin isn't being registered.

[2022-10-18 07:32] Aleksandar-G opened #164 "Fullscreen mode does not work with wavesurfer plugins"
## Description
Fullscreen mode does not work with wavesurfer plugins

## Steps to reproduce
https://codesandbox.io/s/funny-rain-4hiqup

Here I have created a demo to show the bug. You can open the project. Open the browser window on a new tab to enable the fullscreen button and make the video fullscreen and play it. After you have played it you will see that the regions are deleted and a error pop

[2022-11-29 12:47] vbnospace opened #168 "Waveform on top of a background image"
I was wondering if it is possible to put an image in the background of the waveform, and make the image stretch 100% width and height.

I am currently looking and studying how the rendering of the waveform is done, please let me know if you have any tip or suggestion it's going to be helpful. Thank you!